---
layout: null
title: "Nintendo Switch"
games:
  - title: "Arena of Valor"
    image: "ArenaOfValor.png"
  - title: "Billiard"
    image: "Billiard.png"
  - title: "Black: The Fall"
    image: "BlackTheFall.png"
  - title: "Brawl"
    image: "Brawl.png"
  - title: "Brawlout"
    image: "Brawlout.png"
  - title: "ChessUltra"
    image: "ChessUltra.png"
  - title: "Dawn of the Breakers"
    image: "DawnOfTheBreakers.png"
  - title: "Doom"
    image: "Doom.png"
  - title: "Enchanting Mahjong Match"
    image: "EnchantingMahjongMatch.png"
  - title: "Fortnite"
    image: "Fortnite.png"
  - title: "Furi"
    image: "Furi.png"
  - title: "Hollow"
    image: "Hollow.png"
  - title: "Hollow Knight"
    image: "HollowKnight.png"
  - title: "Knights of Pen & Paper: +1 Deluxier Edition"
    image: "KnightsOfPenAndPaper+1DeluxierEdition.png"
  - title: "L.A. Noire"
    image: "LANoire.png"
  - title: "LEGO Worlds"
    image: "LEGOWorlds.png"
  - title: "Mario Kart Deluxe 8"
    image: "MarioKartDeluxe8.png"
  - title: "Minecraft"
    image: "Minecraft.png"
  - title: "Monopoly"
    image: "Monopoly.png"
  - title: "Morphies Law"
    image: "MorphiesLaw.png"
  - title: "NARUTO－ナルト－疾風伝ーナルティメットストームトリロジ"
    image: "NARUTOCollection.png"
  - title: "Paladins"
    image: "Paladins.png"
  - title: "Pocket Rumble"
    image: "PocketRumble.png"
  - title: "PuYo PuYo Tetris"
    image: "PuYoPuYoTetris.png"
  - title: "Resident Evil Revelations"
    image: "ResidentEvilRevelations.png"
  - title: "Resident Evil Revelations 2"
    image: "ResidentEvilRevelations2.png"
  - title: "Stardew Valley"
    image: "StardewValley.png"
  - title: "Super Bomberman R"
    image: "SuperBomberManR.png"
  - title: "Super Mario: Odyssey"
    image: "SuperMarioOdyssey.png"
  - title: "The Elder Scrolls V: Skyrim"
    image: "TheElderScrollsVSkyrim.png"
  - title: "The Escapists 2"
    image: "TheEscapists2.png"
  - title: "The Legend of Zelda: Breath of the Wild"
    image: "TheLegendOfZeldaBreathOfTheWild.png"
  - title: "Wolfenstein II: The New Colossus"
    image: "WolfensteinIITheNewColossus.png"
  - title: "Xenoblade 2"
    image: "Xenoblade2.png"
  - title: "ジャンナビ麻雀オンライン"
    image: "JeanNaviMahjongOnline.png"
  - title: "シンプル麻雀オンライン"
    image: "SimpleMahjong.png"
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="./css/Oxygen.css">
  <link rel="stylesheet" href="./css/normalize.min.css">
  <link rel="stylesheet" href="./css/style.css">

  <script type="text/javascript">
    function getQueryString(key, decode) {
      var reg = new RegExp('(^|&)' + key + '=([^&]*)(&|$)');
      var result = window.location.search.substr(1).match(reg);
      if (decode) {
        return result ? decodeURIComponent(result[2]) : null;
      }
      return result ? result[2] : null;
    }

    function go() {
      var gtav = document.getElementById('gtav');
      if (getQueryString('gtav', false) = 'f') {
        gtav.style.display = 'none';
        gtav.style.margin = '0';
      } else {
        gtav.style.display = 'inline-block';
        gtav.style.margin = '0 7px';
      }
    }
  </script>
</head>

<body>

  <body class="flex flex-col" onload="javascript:go();">
    <header class="flex v-center">
      <a data-attr="{{ site.author }}" href="{{ site.url }}" target="_blank" class="profile">
        <div class="avatar"><img src="./images/avatars/babe.jpg" class="avatar" /></div>
      </a>
      <div class="time">
        <span id="time"></span>
      </div>
      <div class="wifi">
        <img src="./images/wifi.svg" />
      </div>
      <div class="battery">
        <span>100<i>%</i></span>
        <img src="./images/battery.svg" />
      </div>
    </header>
    <main>
      <div class="games">
        <a href="../gtav/" class="item" id="gtav"><img src="../gtav/icon.png"/></a>
        {% for game in page.games %}
        <a href="{% if game.url.size > 0 %}{{ game.url }}{% else %}#{% endif %}" class="item"><img src="./images/games/{{ game.image }}"/></a>
        {% endfor %}
      </div>
      <nav>
        <a data-attr="News" href="#"><img src="./images/news.svg" /></a>
        <a data-attr="Nintendo eShop" href="#"><img src="./images/eshop.svg" /></a>
        <a data-attr="Album" href="#"><img src="./images/album.svg" /></a>
        <a data-attr="Controllers" href="#"><img src="./images/controllers.svg" /></a>
        <a data-attr="System Settings" href="#"><img src="./images/settings.svg" /></a>
        <a data-attr="Sleep Mode" href="#"><img src="./images/sleepmode.svg" /></a>
      </nav>
    </main>
    <footer class="flex">
      <div class="mode">
        <img src="./images/mode.svg" />
      </div>
      <div class="accept flex v-center">
        <div class="btn">A</div>
        <span>OK</span>
      </div>
    </footer>
  </body>

  <script src="./js/index.js"></script>

</body>

</html>
