---
layout: null
title: "敏儿宝宝"
description: "微笑的幸福就在身边"
list:
  - url: "telprompt:13035823962"
    title: "打电话"
    icon: "fa fa-phone"
  - url: "sms:13035823962"
    title: "发短信"
    icon: "fa fa-comments"
  - url: "facetime:13035823962"
    title: "<b>Facetime</b> 视频"
    icon: "fa fa-video"
  - url: "mqq://im/chat?chat_type=wpa&uin=2596152096&version=1&src_type=web"
    title: "发送 <b>QQ</b> 消息"
    icon: "fab fa-qq"
  - url: "timapi://im/chat?chat_type=wpa&uin=2596152096&version=1&src_type=web"
    title: "发送 <b>TIM</b> 消息"
    icon: "fab fa-tumblr"
  - url: "weixin://"
    title: "发送 <b>WeChat</b> 消息"
    icon: "fab fa-weixin"
---
<!DOCTYPE html>
<html ng-app="ionicApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/avatar/meow.jpg">
  <link rel="apple-touch-startup-image" media="(orientation: landscape)" href="{{ site.url }}/assets/images/avatar/meow.jpg" />
  <link rel="apple-touch-startup-image" media="(orientation: portrait)" href="{{ site.url }}/assets/images/avatar/meow.jpg" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css">
  {% include fontawesome.html %}
</head>

<body>
  <div class="header">
    <div id="icon">
      <img src="{{ site.url }}/assets/images/avatar/meow.jpg" alt="图标">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>
    </div>
  </div>
  <div class="container">
    <ul id="grid">
    {% for item in page.list %}
    <!-- <div class="step">
      <p>
        <i class="{{ item.icon }}"></i>
        <br/>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </p>
    </div> -->
    <li><a href="{{ item.url }}"><i class="{{ item.icon }}"></i>&nbsp;{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  </div>
</body>

</html>
