---
layout: list
title: "Essays"
description: "我不是个擅长表达、或者善于割舍的人。写东西，其实只是感受太多，不知道怎么宣泄。"
---
<div class="list">
  {% assign essays = site.essays | reverse %}
  {% for es in essays %}
  <!-- item START -->
  <article class="item">
    <a href="{{ site.url }}{{ es.url }}">
      <div class="item__content">
        <h3 class="item__title">{{ es.title }}</h3>
        <div class="item__meta"><span class="date published">{{ es.date | date: "%b %d, %Y" }}</span></div>
        <div class="item__excerpt">
          <p>{{ es.excerpt | strip_html | slice: 0, 100 }}...</p>
        </div>
      </div>
      {% if es.img.size > 0 %}
      {% assign doc_img = site.url | append: es.img %}
      {% else %}
      {% assign doc_img = site.url | append:'/assets/images/essays/default.jpg' %}
      {% endif %}
      <div class="item__image" style="background-image:url({{ doc_img }})"><img src="{{ doc_img }}" alt=""></div>
    </a>
  </article>
  <!-- item END -->
  {% endfor %}
</div>
