--- layout: null --- .active-wrap {
  display: none;
}

/*.tie-submit-btn {
  content: attr("Comment");
}

.exit {
  content: attr("Logout");
}*/
.tie-empty-tip {
  display: none;
}

.tie-title {
  display: none;
}

/* ---------- */
a:focus {
  outline: thin dotted #ffd43b;
  outline: 5px auto #ffd43b;
  outline-offset: -2px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, PT Serif, serif !important;
  font-size: 125% !important;
  line-height: 1.625 !important;
  color: #333;
  word-wrap: break-word;
}

/*@media (min-width:48em) {
  html {
    font-size: 115%;
  }
}

@media (min-width:64em) {
  html {
    font-size: 125%;
  }
}

@media (min-width:90em) {
  html {
    font-size: 135%;
  }
}*/
body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

small {
  font-size: .8em;
}

ins, u {
  text-decoration: none;
  border-bottom: 1px solid #4c4c4c;
}

del {
  color: #BCCBCC;
}

del a, ins a, u a {
  color: inherit
}

blockquote, dl, fieldset, figure, ol, p, pre, table, ul {
  orphans: 3;
  widows: 3
}

abbr[data-original-title], abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted #4c4c4c
}

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: .25em solid #ffd43b
}

blockquote a {
  color: inherit
}

blockquote cite {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8rem;
  font-style: normal
}

blockquote cite:before {
  content: "\2014";
  padding-right: 5px
}

a {
  color: #2375c1;
  text-decoration: none
}

a:active, a:hover {
  color: #205f9d;
  outline: 0
}

a:hover {
  text-decoration: underline
}

a:visited {
  color: #7987c0
}

code, kbd, pre, samp, tt {
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
  font-size: .8rem
}

pre {
  overflow-x: auto
}

figcaption code, li code, p code {
  padding-top: .1rem;
  padding-bottom: .1rem;
  font-size: .8em;
  background: #f6f6f6;
  border-radius: 4px
}

figcaption code:after, figcaption code:before, li code:after, li code:before, p code:after, p code:before {
  letter-spacing: -.2em;
  content: "\00a0"
}

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: .125em solid #dbdbdb
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}

img[data-sizes=auto] {
  display: block;
  width: 100%
}

a img {
  border: .125em solid #333;
  box-shadow: .25em .25em #333
}

a img:hover {
  box-shadow: .5em .5em #333
}

svg:not(:root) {
  overflow: hidden
}

.btn, .highlight, .palette__swatch, a, b, blockquote, em, figure, form button, h1, h2, header, i, img, input, input[type=submit], p, q, span, strong, td, tr {
  transition: all .3s ease-in-out
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

.wrap:after {
  content: " ";
  display: block;
  clear: both
}

.hidden {
  visibility: hidden
}

.hidden, .load {
  display: none
}

.transparent {
  opacity: 0
}

.screen-reader-shortcut, .screen-reader-text, .screen-reader-text span, .visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden
}

body:hover .visually-hidden a, body:hover .visually-hidden button, body:hover .visually-hidden input {
  display: none !important
}

.screen-reader-shortcut:focus, .screen-reader-text:focus {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  display: block;
  font-size: 1em;
  font-weight: 700;
  padding: 15px 23px 14px;
  background: #fff;
  z-index: 100000;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6)
}

.skip-link {
  position: fixed;
  z-index: 20;
  margin: 0;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  white-space: nowrap
}

.skip-link li {
  height: 0;
  width: 0;
  list-style: none
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden
}

.center {
  text-align: center
}

.float-right {
  clear: left
}

@media (min-width:64em) {
  .float-right {
    float: right;
    clear: none
  }
}

.cf {
  clear: both
}

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media (min-width:37.5em) {
  .image-right {
    float: right;
    margin-left: 1em
  }
}

.no-js img.lazyload {
  display: none
}

.blur-up {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transition: filter .4s, -webkit-filter .4s
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0)
}

.fade-in {
  opacity: 0;
  transition: opacity .4s
}

.fade-in.lazyloaded {
  opacity: 1
}

.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -.1em;
  vertical-align: middle
}

.icon.spin {
  -webkit-animation: a 2s infinite linear;
  animation: a 2s infinite linear
}

.emoji {
  margin: 0;
  width: 1em;
  max-width: 20px;
  height: 1em;
  max-height: 20px
}

.responsive-video-container {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%
}

.responsive-video-container embed, .responsive-video-container iframe, .responsive-video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.btn {
  display: inline-block;
  margin-bottom: .25em;
  padding: 10px 20px;
  color: #fff !important;
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border: 0 !important;
  border-radius: 4px;
  cursor: pointer
}

.btn:active {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px)
}

.btn:hover {
  text-decoration: none;
  background-color: #333
}

.btn .icon {
  margin-right: .5em
}

.btn .icon+.hidden {
  margin-left: -.5em
}

.btn--block {
  display: block;
  width: 100%
}

.btn--block+.btn--block {
  margin-top: .25em
}

.btn--inverse {
  color: #000 !important;
  background-color: #fff;
  outline: .125em solid #000
}

.btn--inverse:hover {
  background-color: #e6e6e6;
  outline: .125em solid #000
}

.btn--light-outline {
  border: 1px solid #fff !important;
  background-color: transparent
}

.btn--info {
  background-color: #2375c1
}

.btn--info:hover {
  background-color: #1c5e9a
}

.btn--warning {
  background-color: #e2b221
}

.btn--warning:hover {
  background-color: #b58e1a
}

.btn--success {
  background-color: #42af55
}

.btn--success:hover {
  background-color: #358c44
}

.btn--danger {
  background-color: #d74040
}

.btn--danger:hover {
  background-color: #ac3333
}

.btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65
}

.btn--facebook {
  background-color: #3b5998
}

.btn--facebook:hover {
  background-color: #2f477a
}

.btn--twitter {
  background-color: #55acee
}

.btn--twitter:hover {
  background-color: #448abe
}

.site__logo {
  margin: 4em 1em 6em;
  line-height: 1;
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace
}

@media (min-width:37.5em) {
  .site__logo {
    margin-left: 2em;
    margin-right: 2em
  }
}

@media (min-width:90em) {
  .site__logo {
    margin-left: 3em;
    margin-right: 3em
  }
}

.site__logo a {
  color: #4c4c4c;
  text-decoration: none
}

.site__logo a:hover {
  color: #000
}

.site__footer {
  position: relative;
  padding: 2em 1em;
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
  font-size: .8em
}

@media (min-width:37.5em) {
  .site__footer {
    margin-left: 2em;
    margin-right: 2em
  }
}

@media (min-width:90em) {
  .site__footer {
    margin-left: 3em;
    margin-right: 3em
  }
}

.site__footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

@media (min-width:56.25em) {
  .site__footer .nav-list {
    width: 66.1016949153%
  }
}

@media (min-width:90em) {
  .site__footer .nav-list {
    width: 57.6271186441%
  }
}

.site__footer .nav-list li {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%
}

@media (min-width:37.5em) {
  .site__footer .nav-list li {
    -ms-flex-preferred-size: 33.3333%;
    flex-basis: 33.3333%
  }
}

@media (min-width:48em) {
  .site__footer .nav-list li {
    -ms-flex-preferred-size: initial;
    flex-basis: auto
  }
}

.site__footer .nav-list a {
  display: block;
  padding: .5em 0;
  color: inherit;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-weight: 700
}

@media (min-width:37.5em) {
  .site__footer .nav-list a {
    padding: 0 2em 0 0
  }
}

.site__footer .copyright {
  font-size: .8em
}

.site__footer .copyright a {
  white-space: nowrap
}

@media (min-width:56.25em) {
  .page {
    width: 66.1016949153%
  }
}

@media (min-width:90em) {
  .page {
    width: 57.6271186441%
  }
}

.page__wrap {
  padding-left: 1em;
  padding-right: 1em
}

@media (min-width:37.5em) {
  .page__wrap {
    padding-left: 2em;
    padding-right: 2em
  }
}

@media (min-width:90em) {
  .page__wrap {
    padding-left: 3em;
    padding-right: 3em
  }
}

.page__title {
  margin: 1em 0 .5em;
  font-weight: 700
}

.page__header {
  position: relative;
  margin: 2em 0;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  line-height: 1.25;
  z-index: 2
}

.page__title {
  font-size: 2.441em;
  text-transform: uppercase;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  letter-spacing: -.03125em
}

@media (min-width:90em) {
  .page__title {
    max-width: 85.2941176471%
  }
}

.page__excerpt {
  margin-bottom: 2em;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 1.25em;
  line-height: 1.625
}

.page__meta {
  font-size: 1em;
  text-transform: uppercase
}

.page__meta a {
  color: inherit;
  text-decoration: none
}

.page__meta span {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .5em;
  white-space: nowrap
}

.page__meta .taxonomy {
  margin-right: 2em
}

.page__meta .taxonomy a {
  position: relative
}

.page__meta .taxonomy a:before {
  display: block;
  content: "";
  position: absolute;
  left: -.5em;
  bottom: 0;
  width: calc(100% + 1em);
  height: .5em;
  background-color: #ffd43b;
  z-index: -10
}

.page__cover {
  display: none
}

@media (min-width:56.25em) {
  .page__cover {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 32.2033898305%;
    overflow: hidden;
    height: 100vh;
    background-color: #333;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%)
  }
}

@media (min-width:90em) {
  .page__cover {
    width: 40.6779661017%
  }
}

.page__cover-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  margin-left: -1em;
  margin-right: -1em;
  overflow: hidden
}

@media (min-width:37.5em) {
  .page__hero {
    margin-left: -2em;
    margin-right: -2em
  }
}

@media (min-width:64em) {
  .page__hero {
    margin-left: -3em;
    margin-right: 0
  }
}

.page__hero .page__hero-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  color: #fff;
  opacity: .9;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .6em;
  text-align: right;
  line-height: 1;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.page__hero .page__hero-credit a {
  color: #fff;
  text-decoration: none
}

.page__content {
  position: relative;
  margin-bottom: 4em;
  z-index: 1
}

.page__content h2, .page__content h3, .page__content h4, .page__content h5, .page__content h6 {
  margin: 1.5em 0 1em;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  line-height: 1.25
}

.page__content h2 code, .page__content h3 code, .page__content h4 code, .page__content h5 code, .page__content h6 code {
  font-size: 1em
}

.page__content>figure, .page__content>ol, .page__content>p, .page__content>table, .page__content>ul {
  margin-bottom: 1.5em
}

.page__content ul {
  list-style-type: square
}

.page__content li {
  margin-bottom: .5em
}

.page__content li img {
  margin: .5em 0
}

.page__content li>ol, .page__content li>ul {
  margin-top: .5em
}

.page__content>p:first-of-type {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 1.125em
}

.page__content figure {
  margin-left: 0;
  margin-right: 0
}

.page__content figure .fluid-width-video-wrapper, .page__content figure iframe, .page__content figure img {
  margin-bottom: 1em
}

.page__content figure>img {
  width: 100%
}

.page__content figure.half, .page__content figure.third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.page__content figure.half>a, .page__content figure.half>img, .page__content figure.third>a, .page__content figure.third>img {
  display: block
}

@media (min-width:37.5em) {
  .page__content figure.half>a, .page__content figure.half>img {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    max-width: 49%;
    height: 0%
  }
}

.page__content figure.half figcaption {
  width: 100%
}

@media (min-width:37.5em) {
  .page__content figure.third>a, .page__content figure.third>img {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    max-width: 32%;
    height: 0%
  }
}

.page__content figure.third figcaption {
  width: 100%
}

.page__content figure .emoji {
  margin-bottom: 0
}

.page__content figcaption {
  font-size: .8em
}

.page__content figcaption, .page__section-label {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif
}

.page__section-label {
  position: relative;
  margin: 0 0 2em;
  padding: 0;
  font-size: 1.563em
}

.page__section-label:before {
  position: absolute;
  bottom: -.5em;
  content: "";
  height: .25em;
  width: 3em;
  background-color: #333;
  transition: all .3s ease-in-out
}

.page__reactions {
  position: relative;
  margin-bottom: 4em
}

@media (min-width:90em) {
  .page__reactions {
    max-width: 85.2941176471%
  }
}

.pager+.page__reactions {
  margin-top: 4em
}

.page__related {
  margin-bottom: 4em
}

.page__related ul {
  margin: 0;
  list-style-type: square
}

.page__related li {
  margin-bottom: .5em
}

.page__form {
  padding: 1em;
  background-color: #f9f9f9;
  transition: all .3s ease-in-out;
  width: 100%;
  border-radius: 5px;
}

.page__form .js-notice, .page__form ul {
  margin: 0
}

@media (min-width:56.25em) {
  .work {
    width: 66.1016949153%
  }
}

@media (min-width:56.25em) {
  .work .page__cover {
    width: 32.2033898305%
  }
}

.work .page__content {
  position: static
}

.work__hero {
  margin-left: -1em;
  margin-right: -1em;
  overflow: hidden
}

@media (min-width:37.5em) {
  .work__hero {
    margin-left: -2em;
    margin-right: -2em
  }
}

@media (min-width:56.25em) {
  .work__hero {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3em
  }
}

.work__hero img {
  width: 100%
}

@media (max-width:56.25em) {
  .work__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media (min-width:56.25em) {
  .work__gallery {
    position: absolute;
    top: 8em;
    right: 0;
    width: 32.2033898305%;
    height: 100%
  }
}

@media (min-width:90em) {
  .work__gallery {
    width: 32.2033898305%
  }
}

.work__gallery-img {
  display: block;
  width: calc(50% - 2em);
  padding: .5em
}

@media (min-width:37.5em) {
  .work__gallery-img {
    padding: 1em
  }
}

@media (min-width:56.25em) {
  .work__gallery-img {
    width: 100%;
    padding: 0 6.7796610169% 6.7796610169%;
    -webkit-transform: translateX(-3em);
    -ms-transform: translateX(-3em);
    transform: translateX(-3em)
  }

  .work__gallery-img:first-child {
    padding-top: 2em
  }
}

.work__gallery-img img {
  display: block;
  width: 100%;
  background: #fff
}

@media (min-width:56.25em) {
  .index {
    width: 83.0508474576%
  }

  .index .page__header, .index .tag__list--inline {
    width: 79.5918367347%
  }
}

.index .page__cover {
  z-index: -1
}

@media (min-width:56.25em) {
  .index .page__cover {
    width: 32.2033898305%
  }
}

.toc {
  margin: 2em 0 1.5em;
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace
}

.toc input[type=checkbox] {
  display: none
}

.toc label {
  position: relative;
  display: inline-block;
  padding: 1em 1em 1em 2.5em;
  font-weight: 700;
  line-height: 1;
  border: .125em solid #ccc;
  border-radius: 4px;
  z-index: 20;
  transition: .2s ease-out;
  cursor: pointer
}

.toc label:after, .toc label:before {
  content: "";
  position: absolute;
  left: 1em;
  top: 1.375em;
  width: .75em;
  height: .125em;
  line-height: 1;
  background-color: #333;
  transition: all .3s ease-in-out
}

.toc label:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.toc label:hover {
  border-color: #333
}

.toc input:checked+label {
  color: #fff;
  background-color: #000
}

.toc input:checked+label:after, .toc input:checked+label:before {
  background-color: #fff
}

.toc label:hover:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.toc input:checked+label:hover:after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}

.toc__menu>ul {
  padding: 0;
  list-style-type: none;
  counter-reset: a
}

.toc__menu>ul li {
  display: block;
  font-weight: 400
}

.toc__menu>ul li a {
  color: #000;
  text-decoration: none
}

.toc__menu>ul li a:hover {
  text-decoration: underline
}

.toc__menu>ul>li {
  counter-increment: a;
  font-weight: 700
}

.toc__menu>ul>li:before {
  content: counter(a) ". "
}

.toc__menu>ul>li:not(:last-child) {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc
}

.toc__menu>ul>li>ul {
  padding-left: 1em
}

.toc__menu>ul ul {
  list-style-type: none;
  counter-reset: b
}

.toc__menu>ul ul>li {
  counter-increment: b
}

.toc__menu>ul ul>li:before {
  content: counter(a) "."counter(b) ". "
}

.toc .toc__menu {
  position: relative;
  margin: 0;
  max-height: 0;
  font-size: .8em;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  transition: .3s ease-in-out;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%)
}

.toc input:checked~.toc__menu {
  transition: .5s ease-in-out;
  max-height: 100vh;
  opacity: 1;
  margin-top: 1em;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0)
}

.dark {
  color: #fff;
  background-color: #000
}

.dark a {
  color: #f9f9f9
}

.dark a:hover {
  color: #fff
}

.dark .page__cover {
  background-color: #000 !important
}

.dark .page__hero {
  position: relative
}

.dark .page__hero:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: transparent;
  z-index: 1
}

.dark .page__hero .image {
  box-shadow: 2em 2em 0 #000, 2em -2em #000
}

.splash .page__wrap {
  position: relative
}

.splash .page__header {
  width: 100%
}

@media (min-width:48em) {
  .splash .page__header {
    width: 85.2941176471%
  }
}

@media (min-width:56.25em) {
  .splash .page__header {
    width: 55.8823529412%
  }
}

.splash .page__title {
  max-width: none;
}

.splash .page__excerpt {
  margin-bottom: 2em;
  font-family: PT Serif, serif;
  font-weight: 400
}

@media (min-width:37.5em) {
  .splash .page__excerpt {
    font-size: 1.563em !important;
  }
}

.splash .page__hero {
  top: -4em;
  left: 0;
  position: absolute
}

@media (min-width:56.25em) {
  .splash .page__hero {
    top: -6em;
    left: auto;
    right: 2em;
    margin-left: 41.1764705882%;
    margin-right: 0
  }
}

.splash .nav-list li {
  margin-bottom: .5em;
  font-weight: 700
}

table {
  width: 100%;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8rem;
  border-collapse: collapse
}

thead {
  border-bottom: 2px solid #dbdbdb
}

th {
  font-weight: 700;
  text-align: left
}

td, th {
  padding: .5em
}

tr:not(:last-child) {
  border-bottom: 1px solid #dbdbdb
}

td, th, tr {
  vertical-align: middle
}

.notice {
  margin: 2em 0;
  padding: 1em;
  background-color: #eaeaea;
  border-left: .25em solid #989898
}

.notice h4 {
  margin-top: 0 !important;
  margin-bottom: .75em;
  line-height: 1 !important
}

.page-content .notice h4 {
  margin-bottom: 0;
  font-size: 1rem
}

.page-content .notice a {
  border-bottom-width: 2px;
  box-shadow: none !important
}

.page-content .notice a:hover {
  background-color: transparent !important
}

.notice a {
  color: #252525 !important
}

.notice p {
  margin-bottom: 0
}

.notice h4+p {
  margin-top: 0;
  padding-top: 0
}

.notice table {
  margin-top: 1.5em
}

.notice thead, .notice tr:not(:last-child) {
  border-color: #c1c1c1
}

.notice code {
  background-color: #c1c1c1
}

.notice--info {
  margin: 2em 0;
  padding: 1em;
  background-color: #e9f1f9;
  border-left: .25em solid #91bae0
}

.notice--info h4 {
  margin-top: 0 !important;
  margin-bottom: .75em;
  line-height: 1 !important
}

.page-content .notice--info h4 {
  margin-bottom: 0;
  font-size: 1rem
}

.page-content .notice--info a {
  border-bottom-width: 2px;
  box-shadow: none !important
}

.page-content .notice--info a:hover {
  background-color: transparent !important
}

.notice--info a {
  color: #1a5891 !important
}

.notice--info p {
  margin-bottom: 0
}

.notice--info h4+p {
  margin-top: 0;
  padding-top: 0
}

.notice--info table {
  margin-top: 1.5em
}

.notice--info thead, .notice--info tr:not(:last-child) {
  border-color: #bdd6ec
}

.notice--info code {
  background-color: #bdd6ec
}

.notice--warning {
  margin: 2em 0;
  padding: 1em;
  background-color: #fcf7e9;
  border-left: .25em solid #f1d990
}

.notice--warning h4 {
  margin-top: 0 !important;
  margin-bottom: .75em;
  line-height: 1 !important
}

.page-content .notice--warning h4 {
  margin-bottom: 0;
  font-size: 1rem
}

.page-content .notice--warning a {
  border-bottom-width: 2px;
  box-shadow: none !important
}

.page-content .notice--warning a:hover {
  background-color: transparent !important
}

.notice--warning a {
  color: #aa8619 !important
}

.notice--warning p {
  margin-bottom: 0
}

.notice--warning h4+p {
  margin-top: 0;
  padding-top: 0
}

.notice--warning table {
  margin-top: 1.5em
}

.notice--warning thead, .notice--warning tr:not(:last-child) {
  border-color: #f6e8bc
}

.notice--warning code {
  background-color: #f6e8bc
}

.notice--success {
  margin: 2em 0;
  padding: 1em;
  background-color: #ecf7ee;
  border-left: .25em solid #a1d7aa
}

.notice--success h4 {
  margin-top: 0 !important;
  margin-bottom: .75em;
  line-height: 1 !important
}

.page-content .notice--success h4 {
  margin-bottom: 0;
  font-size: 1rem
}

.page-content .notice--success a {
  border-bottom-width: 2px;
  box-shadow: none !important
}

.page-content .notice--success a:hover {
  background-color: transparent !important
}

.notice--success a {
  color: #328340 !important
}

.notice--success p {
  margin-bottom: 0
}

.notice--success h4+p {
  margin-top: 0;
  padding-top: 0
}

.notice--success table {
  margin-top: 1.5em
}

.notice--success thead, .notice--success tr:not(:last-child) {
  border-color: #c6e7cc
}

.notice--success code {
  background-color: #c6e7cc
}

.notice--danger {
  margin: 2em 0;
  padding: 1em;
  background-color: #fbecec;
  border-left: .25em solid #eba0a0
}

.notice--danger h4 {
  margin-top: 0 !important;
  margin-bottom: .75em;
  line-height: 1 !important
}

.page-content .notice--danger h4 {
  margin-bottom: 0;
  font-size: 1rem
}

.page-content .notice--danger a {
  border-bottom-width: 2px;
  box-shadow: none !important
}

.page-content .notice--danger a:hover {
  background-color: transparent !important
}

.notice--danger a {
  color: #a13030 !important
}

.notice--danger p {
  margin-bottom: 0
}

.notice--danger h4+p {
  margin-top: 0;
  padding-top: 0
}

.notice--danger table {
  margin-top: 1.5em
}

.notice--danger thead, .notice--danger tr:not(:last-child) {
  border-color: #f3c6c6
}

.notice--danger code {
  background-color: #f3c6c6
}

.th-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.th-grid li {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: .25em;
  width: 100px;
  max-width: 150px
}

.th-grid img {
  width: 100%;
  height: auto
}

.list .th-grid a {
  margin-right: 0
}

fieldset {
  margin-bottom: .5em;
  padding: 0;
  border-width: 0
}

input, label, select {
  display: block
}

label {
  margin-bottom: .5em;
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
  font-size: .8em
}

label.required:after {
  content: "*"
}

label abbr {
  display: none
}

input, select, select[multiple=multiple], textarea {
  box-sizing: border-box;
  margin-bottom: .25em;
  padding: .5em;
  width: 100%;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
  transition: border-color
}

input:hover, select:hover, select[multiple=multiple]:hover, textarea:hover {
  border-color: #c5c5c5
}

input:focus, select:focus, select[multiple=multiple]:focus, textarea:focus {
  border-color: #313131;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06), 0 0 5px rgba(44, 44, 44, .7);
  outline: none
}

textarea {
  resize: vertical
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type=checkbox], input[type=radio] {
  display: inline;
  margin-right: .5em;
  width: auto
}

input[type=file] {
  width: 100%
}

select {
  width: auto;
  max-width: 100%
}

form .btn, form button, input[type=submit] {
  margin: 1em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap
}

form li, form ol, form ul {
  padding-left: 0;
  list-style-type: none
}

.req, .required {
  color: #d74040 !important;
  font-weight: 700
}

.instruct {
  font-size: .8em;
  font-style: italic
}

@media (min-width:37.5em) {
  .teasers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.teaser {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  overflow: hidden
}

.teaser a {
  position: relative;
  display: block;
  padding: 2em;
  color: #fff;
  text-decoration: none
}

@media (min-width:64em) {
  .teaser a {
    padding: 3em
  }
}

.teaser .teaser__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 1.25em;
  transition: all .3s ease-in-out
}

.teaser:hover .teaser__bg:before {
  opacity: .25
}

.teaser:hover .page__section-label:before {
  width: 6em
}

.teaser__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.teaser__bg:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  transition: .2s ease-out
}

.list ul {
  list-style-type: square
}

.list article.item {
  padding-bottom: 3em;
  column-break-inside: avoid;
  transition: all .3s ease-in-out
}

.list article.item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: .25em solid #333;
  background-color: #fff;
  box-shadow: .5em .5em #333;
  transition: all .3s ease-in-out
}

.list article.item a:hover {
  box-shadow: .75em .75em #333
}

.list article.item a:hover .item__title:before {
  width: 100%
}

@media (min-width:48em) {
  .list article.item a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
  }
}

.item:not(:last-child) {
  padding-bottom: 3em
}

.item__content {
  padding: 1em
}

@media (min-width:48em) {
  .item__content {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding-right: 2em
  }
}

.item__title {
  position: relative;
  margin: 0 0 1em;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 1.563em;
  line-height: 1.25
}

.item__title:before {
  position: absolute;
  bottom: -.625em;
  content: "";
  height: .125em;
  width: 2em;
  background-color: #333;
  transition: all .3s ease-in-out
}

.item__meta {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8em
}

.item__meta .archive__item-time, .item__meta .comment__count {
  margin-left: 1em;
  white-space: nowrap
}

.item__image {
  position: relative;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.item__image:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: #4c4c4c;
  opacity: 0;
  transition: all .3s ease-in-out
}

@media (max-width:48em) {
  .item__image {
    margin-bottom: 1em
  }
}

@media (min-width:48em) {
  .item__image {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
  }

  .item__image img {
    display: none
  }
}

.item__image img {
  width: 100%;
  border: none;
  box-shadow: none
}

.item__image img:hover {
  box-shadow: none
}

.tag__list {
  list-style: none !important;
  padding-left: 0
}

@media (min-width:48em) {
  .tag__list {
    -webkit-column-count: 2;
    column-count: 2
  }
}

@media (min-width:64em) {
  .tag__list {
    -webkit-column-count: 3;
    column-count: 3
  }
}

.tag__list li {
  margin-bottom: 0
}

.tag__list--inline {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0;
  list-style: none
}

.tag__list--inline li {
  display: inline-block
}

.tag__list--inline li:after {
  margin-right: .25em;
  content: "\00a0/"
}

.tag__list--inline li:last-child:after {
  content: none
}

.nav-list {
  list-style: none;
  margin: 0;
  padding-left: 0
}

.nav-list__title {
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
  font-size: .8em;
  font-weight: 400
}

.search-goog form {
  margin-top: 12px
}

#goog-fixurl ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0
}

#goog-fixurl ul li {
  list-style-type: none
}

#goog-fixurl .other-things {
  display: none
}

@media (min-width:48em) {
  #goog-wm-qt {
    display: inline-block;
    width: 70%
  }
}

#goog-wm-sb {
  color: #fff;
  font-weight: 700;
  background-color: #000
}

@media (min-width:48em) {
  #goog-wm-sb {
    display: inline-block;
    margin-left: 1%;
    width: 29%
  }
}

div.highlighter-rouge, figure.highlight {
  position: relative;
  margin: 2em 0;
  background-color: #f6f6f6;
  overflow-x: auto;
  word-wrap: break-word;
}

div.highlighter-rouge .highlight, figure.highlight .highlight {
  padding: 2em;
}

.highlight {
  margin: 0;
  overflow-x: auto
}

@media (min-width:600px) and (max-width:900px) {
  .highlight {
    width: 550px
  }
}

.highlight pre {
  margin: 0;
  width: 100%
}

.highlight table td {
  padding: 5px
}

.highlight table pre {
  margin: 0
}

.highlighttable tr:hover>td, .highlighttable tr:hover>th {
  background: transparent
}

.highlight .c {
  color: #586e75
}

.highlight .err, .highlight .g {
  color: #93a1a1
}

.highlight .k {
  color: #859900
}

.highlight .l, .highlight .n {
  color: #93a1a1
}

.highlight .o {
  color: #859900
}

.highlight .x {
  color: #cb4b16
}

.highlight .p {
  color: #93a1a1
}

.highlight .cm {
  color: #586e75
}

.highlight .cp {
  color: #859900
}

.highlight .c1 {
  color: #586e75
}

.highlight .cs {
  color: #859900
}

.highlight .gd {
  color: #2aa198
}

.highlight .ge {
  color: #93a1a1;
  font-style: italic
}

.highlight .gr {
  color: #dc322f
}

.highlight .gh {
  color: #cb4b16
}

.highlight .gi {
  color: #859900
}

.highlight .go, .highlight .gp {
  color: #93a1a1
}

.highlight .gs {
  color: #93a1a1;
  font-weight: 700
}

.highlight .gu {
  color: #cb4b16
}

.highlight .gt {
  color: #93a1a1
}

.highlight .kc {
  color: #cb4b16
}

.highlight .kd {
  color: #268bd2
}

.highlight .kn, .highlight .kp {
  color: #859900
}

.highlight .kr {
  color: #268bd2
}

.highlight .kt {
  color: #dc322f
}

.highlight .ld {
  color: #93a1a1
}

.highlight .m, .highlight .s {
  color: #2aa198
}

.highlight .na {
  color: #93a1a1
}

.highlight .nb {
  color: #b58900
}

.highlight .nc {
  color: #268bd2
}

.highlight .no {
  color: #cb4b16
}

.highlight .nd {
  color: #268bd2
}

.highlight .ne, .highlight .ni {
  color: #cb4b16
}

.highlight .nf {
  color: #268bd2
}

.highlight .nl, .highlight .nn, .highlight .nx, .highlight .py {
  color: #93a1a1
}

.highlight .nt, .highlight .nv {
  color: #268bd2
}

.highlight .ow {
  color: #859900
}

.highlight .w {
  color: #93a1a1
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #2aa198
}

.highlight .sb {
  color: #586e75
}

.highlight .sc {
  color: #2aa198
}

.highlight .sd {
  color: #93a1a1
}

.highlight .s2 {
  color: #2aa198
}

.highlight .se {
  color: #cb4b16
}

.highlight .sh {
  color: #93a1a1
}

.highlight .si, .highlight .sx {
  color: #2aa198
}

.highlight .sr {
  color: #dc322f
}

.highlight .s1, .highlight .ss {
  color: #2aa198
}

.highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2
}

.highlight .il {
  color: #2aa198
}

.palette {
  width: 100%;
  margin-bottom: 1em;
  background: #171716 url(../images/paper-53-palette-bk.png);
  border-radius: 10px
}

.palette__row {
  padding: .25em 0;
  width: 100%;
  text-align: center
}

.palette__row a {
  margin: .25em
}

.palette div:first-child {
  padding-top: 1em
}

.palette div:last-child {
  padding-bottom: 1em
}

.palette__swatch {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #000
}

.palette__swatch:hover {
  border: 3px solid #fff
}

@media (min-width:48em) {
  .palette__swatch {
    width: 110px;
    height: 110px
  }
}

.comment {
  position: relative;
  margin-bottom: 4em;
  padding-left: 4.5em;
  font-size: .8em
}

.comment.child {
  margin-left: 4.5em
}

.comment.child:after, .comment.child:before {
  position: absolute;
  left: 1.5em;
  content: "";
  width: .5em;
  background-color: #e3e3e3
}

.comment.child:before {
  top: -3em;
  height: 2em
}

.comment.child:after {
  top: 4em;
  bottom: -1em
}

.comment__timestamp {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8em
}

.comment__timestamp a {
  color: inherit;
  text-decoration: none
}

.comment__content>figure, .comment__content>ol, .comment__content>p, .comment__content>table, .comment__content>ul {
  margin-bottom: 1.5em
}

.comment__content ul {
  list-style-type: square
}

.comment__content li {
  margin-bottom: .5em
}

.comment__content li>ol, .comment__content li>ul {
  margin-top: .5em
}

.comment__content img {
  max-width: 100%
}

.comment__content div.highlighter-rouge .highlight code {
  font-size: .8em
}

.comment__avatar {
  top: 0;
  left: 0
}

.comment__avatar, .comment__avatar:after {
  position: absolute;
  width: 3.25em;
  height: 3.25em
}

.comment__avatar:after {
  bottom: .5em;
  right: .5em;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='https://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23333' stroke-width='1' /%3E%3C/svg%3E");
  background-size: 5px 5px;
  z-index: -1
}

.comment__author-name {
  margin: 0 0 .25em;
  font-size: 1.25em;
  line-height: 1
}

.comment__author-name a {
  color: inherit;
  text-decoration: none
}

.comment__reply .btn {
  font-size: .64em
}

#cancel-comment-reply-link {
  margin-left: 1em
}

#comment-form {
  margin-bottom: 3em
}

.review__wrapper {
  position: relative;
  padding: 20px;
  background-color: #000;
  border-radius: 4px;
  color: #fff
}

.review__wrapper a {
  color: #4c4c4c
}

h5.review__title {
  margin: 0;
  color: #fff;
  font-size: 1.563rem
}

.review__title-summary, h5.review__title {
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-weight: 700
}

.review__title-summary {
  font-size: 1.25rem
}

.review__list {
  margin: 0;
  padding: 0;
  list-style: none
}

.review__list li {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-weight: 700;
  list-style: none
}

.review__description a {
  color: #fff
}

.ad {
  text-align: center
}

@media (min-width:37.5em) {
  .ad {
    text-align: left
  }
}

.adsense--sidebar {
  width: 320px;
  height: 100px;
  border-bottom: 0 solid transparent
}

@media (min-width:500px) and (max-width:900px) {
  .adsense--sidebar {
    width: 468px;
    height: 60px
  }
}

@media (min-width:56.25em) {
  .adsense--sidebar {
    width: 120px;
    height: 600px
  }
}

@media (min-width:1025px) {
  .adsense--sidebar {
    width: 300px;
    height: 250px
  }
}

.adsense--footer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 300px;
  height: 250px;
  text-align: center;
  border-bottom: 0 solid transparent
}

@media (min-width:37.5em) {
  .adsense--footer {
    margin-left: 2em;
    margin-right: 2em
  }
}

@media (min-width:90em) {
  .adsense--footer {
    margin-left: 3em;
    margin-right: 3em
  }
}

@media (min-width:500px) and (max-width:900px) {
  .adsense--footer {
    width: 468px;
    height: 60px
  }
}

@media (min-width:56.25em) {
  .adsense--footer {
    width: 728px;
    height: 90px
  }
}

.footnotes {
  position: relative;
  padding-top: 2em;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  color: #797979
}

.footnotes li, .footnotes p {
  font-size: .8rem
}

.footnotes p {
  margin: 0
}

.footnotes:before {
  content: "";
  display: block;
  margin-bottom: 2em;
  height: 1px;
  width: 5em;
  background: #dbdbdb
}

.footnotes code {
  font-size: .8em
}

.reversefootnote {
  font-weight: 700;
  border-bottom: initial !important
}

.component {
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #dbdbdb
}

.component div.highlighter-rouge, .component figure.highlight {
  margin: 0;
  padding: 1em
}

.component__header h3 {
  margin-top: 0 !important
}

.component__header p {
  margin-top: 0;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8rem
}

.component__header p a {
  border-bottom-width: 0
}

.component__header p.entry--last {
  margin-bottom: 1em
}

.component__rendered--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (min-width:48em) {
  .component__rendered--color {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

.component__code {
  clear: both;
  position: relative;
  padding-top: 3em
}

.component__code:before {
  content: "HTML";
  position: absolute;
  top: 1.5em;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase
}

.color__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 98%;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dbdbdb
}

.color__name {
  font-size: .64rem;
  color: #4c4c4c;
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  background-color: #f6f6f6;
  white-space: normal
}

.color__tile--white-bg {
  background-color: #fff
}

.color__tile--black-bg {
  background-color: #000
}

.color__tile--gray-bg {
  background-color: #4c4c4c
}

.color__tile--background {
  background-color: #f9f9f9
}

.color__tile--headline, .color__tile--text {
  background-color: #4c4c4c
}

.color__tile--highlighter {
  background-color: #ffd43b
}

.color__tile--primary {
  background-color: #313131
}

.color__tile--success {
  background-color: #42af55
}

.color__tile--warning {
  background-color: #e2b221
}

.color__tile--danger {
  background-color: #d74040
}

.color__tile--info {
  background-color: #2375c1
}

.color__tile--border {
  background-color: #dbdbdb
}

.color__tile--link {
  background-color: #2375c1
}

.color__tile--link--hover {
  background-color: #205f9d
}

.color__tile--facebook {
  background-color: #3b5998
}

.color__tile--twitter {
  background-color: #55acee
}

.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, .9);
  outline: none !important;
  opacity: 0;
  transition: opacity .3s ease
}

.lity.lity-opened {
  opacity: 1
}

.lity.lity-closed {
  opacity: 0
}

.lity * {
  box-sizing: border-box
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important
}

.lity-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity .3s ease
}

.lity-loading .lity-loader {
  opacity: 1
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important
}

.lity-content {
  z-index: 9993;
  width: 100%;
  /*height: 100%;*/
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}

.lity-closed .lity-content, .lity-loading .lity-content {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8)
}

.lity-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6)
}

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0
}

.lity-close:active, .lity-close:focus, .lity-close:hover, .lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none
}

.lity-close:active {
  top: 1px
}

.lity-image img {
  max-width: 100% !important;
  max-height: 100vh !important;
  display: block;
  line-height: 0;
  border: 0
}

.lity-googlemaps .lity-container, .lity-iframe .lity-container, .lity-vimeo .lity-container, .lity-youtube .lity-container {
  width: 100%;
  max-width: 964px
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #000
}

.lity-hide {
  display: none
}

.bigfoot-footnote__button {
  z-index: 5;
  top: -.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: .35em;
  margin: 0 .1em 0 .2em;
  border: none;
  border-radius: .3em;
  cursor: pointer;
  background-color: rgba(76, 76, 76, .2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transition-property: background-color;
  transition-duration: .25s
}

.bigfoot-footnote__button:focus, .bigfoot-footnote__button:hover {
  outline: none;
  background-color: rgba(76, 76, 76, .5)
}

.bigfoot-footnote__button:active {
  background-color: rgba(76, 76, 76, .5)
}

.bigfoot-footnote__button.is-active {
  background-color: #4c4c4c;
  transition-delay: .1s
}

.bigfoot-footnote__button:after {
  content: "";
  display: table;
  clear: both
}

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: .25em;
  height: .25em;
  margin-right: .25em;
  float: left
}

.bigfoot-footnote__button__circle:last-child {
  margin-right: 0
}

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0
}

@media not print {
  .footnote-print-only {
    display: none !important
  }
}

@media print {
  .bigfoot-footnote, .bigfoot-footnote__button {
    display: none !important
  }
}

.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.9692388156em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: .5em;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  line-height: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  transition-duration: .25s;
  transition-timing-function: ease;
  -webkit-transform: scale(.1) translateZ(0);
  transform: scale(.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0
}

.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0
}

.bigfoot-footnote.is-active {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: .97
}

.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}

.bigfoot-footnote.is-bottom-fixed.is-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content, .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  border-radius: 0
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none
}

.bigfoot-footnote.is-scrollable:after {
  content: "";
  position: absolute;
  bottom: .3375em;
  left: .3375em;
  z-index: 14;
  display: block;
  height: .78125em;
  width: .625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: .1;
  transition-properties: opacity;
  transition-duration: .25s;
  transition-timing-function: ease
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: .5em .5em 0 0;
  background-image: linear-gradient(180deg, #fafafa 50%, hsla(0, 0%, 98%, 0))
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 .5em .5em;
  background-image: linear-gradient(0deg, #fafafa 50%, hsla(0, 0%, 98%, 0))
}

.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none
}

.bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  transition-delay: 0
}

.bigfoot-footnote__wrapper {
  z-index: 14;
  width: 22em;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  line-height: 0
}

.bigfoot-footnote__content, .bigfoot-footnote__wrapper {
  position: relative;
  display: inline-block;
  box-sizing: inherit;
  border-radius: .5em
}

.bigfoot-footnote__content {
  z-index: 8;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.5
}

.bigfoot-footnote__content img {
  max-width: 100%
}

.bigfoot-footnote__content :last-child {
  margin-bottom: 0 !important
}

.bigfoot-footnote__content :first-child {
  margin-top: 0 !important
}

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  border-top-left-radius: 0
}

.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -.65em
}

.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -.65em
}

.bigfoot-footnote__button {
  position: relative;
  height: .95em;
  width: 1.5em;
  border-radius: .475em
}

.bigfoot-footnote__button:after {
  content: attr(data-footnote-number);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  font-size: .57em;
  font-weight: 700;
  color: rgba(76, 76, 76, .5);
  transition: color .25s ease
}

.bigfoot-footnote__button.is-active:after, .bigfoot-footnote__button:hover:after {
  color: #fff
}

.bigfoot-footnote__button__circle {
  display: none
}

@media print {
  @page {
    margin: 1cm
  }

  * {
    color: #000 !important
  }

  html {
    background: #fff
  }

  *, .btn, .dark, :after, :before, :first-letter, blockquote:first-line, button, div:first-line, li:first-line, p:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  .archive__item, .container, .page__hero, .post__header, .post__inner-wrapper, body {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important
  }

  .page__content p {
    widows: 4;
    orphans: 3
  }

  div.highlighter-rouge .highlight, figure.highlight .highlight {
    padding: 0 !important;
    background: transparent;
    white-space: pre-wrap
  }

  figcaption code, li code, p code {
    padding: 0 !important
  }

  .index, .page {
    width: 100% !important
  }

  .list article.item a {
    margin-right: 0 !important
  }

  .btn, button {
    padding: 0 !important;
    text-align: left !important
  }

  .ad, .masthead, .overlay__menu, .page__cover, .page__reactions .page__form, .page__reactions .page__section-label, .page__reactions p.instruct, .page__related, .site__footer, .splash .page__hero, nav {
    display: none !important
  }

  .page__content a[href^=http]:not([href *="neverobsess.github.io/Elias.github.io"]):after {
    content: " ("attr(href) ")"
  }

  abbr[title]:after {
    content: " ("attr(title) ")"
  }

  a[href^="#"]:after {
    content: ""
  }

  #qr {
    display: block !important;
    visibility: visible !important;
    padding-top: .5em;
    border-top: 1px solid
  }

  #qr p {
    font-size: .8rem
  }

  .archive__item, .notice, .notice--danger, .notice--info, .notice--success, .notice--warning, figure, img, ol, table, ul {
    page-break-inside: avoid
  }
}

.plain_item, .plain_item:hover, .plain_item img, .plain_item img:hover {
  border: none !important;
  box-shadow: none !important;
}

.wumii-comment-user img, .wumii-avatar img {
  border: none;
  box-shadow: none;
}

/* ---------- */
.asciiquote {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: white;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  direction: ltr;
  box-sizing: border-box;
  border-left: .25em solid #ffd43b;
}

.quoteblock {
  margin-bottom: 0;
  margin-top: 0;
  margin: 0 1em 0.75em 1.5em;
  padding: 0;
  direction: ltr;
}

blockquote {
  color: #333333;
  font-size: 1.15rem;
  line-height: 1.75;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.quoteblock blockquote:before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: #003b6b;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock .attribution {
  font-size: 0.8125em;
  line-height: 1.45;
  font-style: italic;
  margin-top: 0.5em;
  margin-right: 0.5ex;
  text-align: right;
  margin: 0;
  padding: 0;
  direction: ltr;
}

.quoteblock .attribution cite {
  display: block;
  letter-spacing: -0.025em;
  color: #a0a0a0;
  font-size: 0.8125em;
  line-height: 1.45;
  font-style: italic;
  margin-top: 0.5em;
  margin-right: 0.5ex;
  text-align: right;
  direction: ltr;
}
