---
layout: list
title: "Site Map"
---
<div class="list">
  {% for z in site.data.map %}
  <!-- client START -->
  <article class="item">
    <a href="{{ z.url }}">
      <div class="item__content">
        <h3 class="item__title">{{ z.title }}</h3>
        <div class="item__meta"><span class="date published">{{ z.url }}</span></div>
        <div class="item__excerpt">
          <p>{{ z.desc }}</p>
        </div>
      </div>
      {% if z.img.size > 0 %}
      {% assign z_img = (site.url | append: '/assets/images/map/' | append: z.img | append: '.jpg') %}
      {% else %}
      {% assign z_img = (site.url | append: site.default_image) %}
      {% endif %}
      <div class="item__image" style="background-image:url({{ z_img }})"><img src="{{ z_img }}" alt=""></div>
    </a>
  </article>
  <!-- client END -->
  {% endfor %}
</div>
