---
layout: list
title: "Atom | Portfolio"
description: "I type on the keyboards and sometimes it makes stuff happen to computers. Then I put it online."
---
<div class="list">
  {% for app in site.data.atom %}
  <!-- item START -->
  <article class="item">
    {% if app.url.size > 0 %}
    {% assign app_url = app.url %}
    {% else %}
    {% assign app_url = "javascript:alert('Not available currently');" %}
    {% endif %}
    <a href="{{ app_url }}" target="_blank">
      <div class="item__content">
        <h3 class="item__title">{{ app.name }}</h3>
        <div class="item__meta"><span class="date published">{% if app.desc.size > 0 %}{{ app.desc }}<br/>{% endif %}Type: {{ app.type }}<br/>Language: {{ app.lan }}{% if app.url.size > 0%}<br/>Link: {{ app.url }}{% endif %}</span></div>
        <div class="item__excerpt">
          <p></p>
        </div>
      </div>
      {% if app.img.size > 0 %}
      {% assign app_img = (site.url | append: '/assets/images/atom/' | append: app.img | append: '.jpg' ) %}
      {% else %}
      {% assign app_img = (site.url | append: '/assets/images/default.jpg' ) %}
      {% endif %}
      <div class="item__image" style="background-image:url({{ app_img }})"><img src="{{ app_img }}" alt=""></div>
    </a>
  </article>
  <!-- item END -->
  {% endfor %}
</div>
