---
layout: null
title: "二狗导航"
description: "优质网址及资源中文上网导航"
icons:
  - title: "9GAG"
    url: "https://9gag.com/"
    image: "9gag.png"
  - title: "Quora"
    url: "https://www.quora.com/"
    image: "quora.png"
  - title: "Reddit"
    url: "https://www.reddit.com/"
    image: "reddit.png"
  - title: "Twitter"
    url: "https://twitter.com/"
    image: "twitter.png"
  - title: "即刻"
    url: "https://web.okjike.com/"
    image: "jike.png"
  - title: "煎蛋"
    url: "http://jandan.net/"
    image: "jiandan.png"
  - title: "Mac种子"
    url: "http://mac-torrents.com/"
    image: "mac-torrents.png"
  - title: "CodePen"
    url: "https://codepen.io/"
    image: "codepen.png"
  - title: "Cave"
    url: "https://meniny.cn/"
    image: "cave.png"
  - title: "站长工具"
    url: "http://tool.chinaz.com/map.aspx"
    image: "chinaz.png"
  - title: "Tool.lu"
    url: "https://tool.lu/"
    image: "toollu.png"
  - title: "Rabbit"
    url: "https://www.rabb.it/"
    image: "rabbit.png"
  - title: "油管"
    url: "https://youtube.com/"
    image: "youtube.png"
  - title: "B站"
    url: "https://bilibili.com/"
    image: "bilibili.png"
  - title: "BT电影"
    url: "http://www.btbtdy.net/"
    image: "btbtdy.png"
  - title: "电影首发"
    url: "http://www.dysfz.vip"
    image: "dysfz.png"
  - title: "淘宝"
    url: "https://taobao.com/"
    image: "taobao.png"
  - title: "京东"
    url: "https://jd.com/"
    image: "jd.png"
labels:
  - title: "百度"
    url: "https://baidu.com/"
    image: "baidu.png"
  - title: "Google"
    url: "https://google.com.tw/"
    image: "google.png"
  - title: "Bing"
    url: "https://bing.com/"
    image: "bing.png"
  - title: "Yandex"
    url: "https://yandex.com/"
    image: "yandex.png"
list:
  - items:
    - title: "开发"
      url: ""
      image: ""
    - title: "Github"
      url: "https://github.com/Meniny/"
      image: "github.png"
    - title: "码云"
      url: "https://gitee.com/"
      image: "gitee.png"
    - title: "StackOverflow"
      url: "https://stackoverflow.com/"
      image: "sof.png"
    - title: "Codepen"
      url: "https://codepen.io/"
      image: "codepen.png"
  - items:
    - title: "百科"
      url: ""
      image: ""
    - title: "知乎"
      url: "https://zhihu.com/"
      image: "zhihu.png"
    - title: "What is"
      url: "https://whatis.techtarget.com/"
      image: ""
    - title: "Webopedia"
      url: "https://www.webopedia.com/"
      image: "webopedia.png"
    - title: "Wikipedia"
      url: "https://www.wikipedia.org/"
      image: "wikipedia.png"
  - items:
    - title: "空间"
      url: ""
      image: ""
    - title: "Pastebin"
      url: "https://pastebin.com/"
      image: "pastebin.png"
    - title: "Streamable"
      url: "https://streamable.com/"
      image: "streamable.png"
    - title: "sm.ms"
      url: "https://sm.ms/"
      image: "sm.png"
    - title: "Imgur"
      url: "https://imgur.com/"
      image: ""
  - items:
    - title: "艺术"
      url: ""
      image: ""
    - title: "DeviantArt"
      url: "https://www.deviantart.com/"
      image: "deviantart"
    - title: "Behance"
      url: "https://www.behance.net/"
      image: ""
    - title: "ArtStation"
      url: "https://www.artstation.com/"
      image: ""
    - title: "Pixiv"
      url: "https://www.pixiv.net/"
      image: ""
  - items:
    - title: "图片"
      url: ""
      image: ""
    - title: "Unsplash"
      url: "https://unsplash.com/"
      image: "unsplash.png"
    - title: "Walli"
      url: "https://www.walli.rocks/"
      image: ""
    - title: "Pixabay"
      url: "https://pixabay.com/"
      image: ""
    - title: "千图网"
      url: "http://www.58pic.com/"
      image: ""
  - items:
    - title: "社区"
      url: ""
      image: ""
    - title: "Amino"
      url: "https://aminoapps.com/explore/en"
      image: ""
    - title: "We ❤ it"
      url: "https://weheartit.com/"
      image: "weheartit.png"
    - title: "Pinterest"
      url: "https://www.pinterest.com/"
      image: ""
    - title: "QQ空间"
      url: "https://qzone.qq.com/"
      image: ""
  - items:
    - title: "游戏"
      url: ""
      image: ""
    - title: "VGTime"
      url: "http://www.vgtime.com/"
      image: ""
    - title: "哈姆雷特"
      url: "https://www.gamer.com.tw/"
      image: ""
    - title: "UCG"
      url: "http://go.ucg.cn/"
      image: ""
    - title: "CrackedGames"
      url: "https://cracked-games.org/en/"
  - items:
    - title: "谷歌"
      url: ""
      image: ""
    - title: "翻译"
      url: "https://translate.google.com/#auto/zh-CN/"
      image: ""
    - title: "地图"
      url: "https://www.google.com/maps"
      image: ""
    - title: "照片"
      url: "https://photos.google.com/"
      image: ""
    - title: "Drive"
      url: "https://drive.google.com/drive/my-drive"
      image: ""
  - items:
    - title: "谷歌"
      url: ""
      image: ""
    - title: "搜图"
      url: "https://www.google.com.tw/imghp?hl=zh-CN&tab=wi"
      image: ""
    - title: "活动"
      url: "https://myactivity.google.com/myactivity?utm_source=chrome_h"
      image: ""
    - title: "Chrome"
      url: "https://chrome.google.com/webstore/category/extensions?hl=zh-CN"
      image: ""
    - title: "Gmail"
      url: "https://mail.google.com/mail/u/0/#inbox"
      image: ""
  - items:
    - title: "苹果"
      url: ""
      image: ""
    - title: "苹果中国"
      url: "https://apple.con/cn/"
      image: ""
    - title: "MacWorld"
      url: "https://www.macworld.com/"
      image: ""
    - title: "胡萝卜周"
      url: "http://www.carrotchou.blog/"
      image: ""
    - title: "蓝灯"
      url: "https://github.com/getlantern/download"
      image: ""
  - items:
    - title: "阅读"
      url: ""
      image: ""
    - title: "小书屋"
      url: "http://mebook.cc/"
      image: ""
    - title: "Bookset"
      url: "https://bookset.me/"
      image: ""
    - title: "萌典"
      url: "https://www.moedict.tw/"
      image: ""
    - title: "汉典"
      url: "http://www.zdic.net/"
      image: ""
  - items:
    - title: "其它"
      url: ""
      image: ""
    - title: "微博"
      url: "http://weibo.com/"
      image: ""
    - title: "MSDN"
      url: "https://msdn.itellyou.cn/"
      image: ""
    - title: "Adobe下载"
      url: "https://www.adobe.com/cn/downloads.html"
      image: ""
    - title: "核工厂"
      url: "http://z3.xm1024p.org/pw/"
      image: ""
more:
    - title: "IGN"
      url: "http://www.ign.com"
      image: ""
    - title: "老司机电影网"
      url: "http://www.lsjdyw.net/"
      image: ""
    - title: "电影首发站"
      url: "http://www.dysfz.vip"
      image: ""
    - title: "人生05电影网"
      url: "http://www.rs05.com/"
      image: ""
    - title: "小浣熊"
      url: "https://www.xiaohx.org/"
      image: ""
    - title: "迅影网"
      url: "http://www.xunyingwang.com/"
      image: ""
    - title: "电影天堂"
      url: "http://www.dygod.net/"
      image: ""
    - title: "AG高清美剧"
      url: "http://kmeiju7.com/"
      image: ""
    - title: "高清MP4吧"
      url: "http://www.mp4ba.com/"
      image: ""
    - title: "bt之家"
      url: "http://www.btbtt.us/"
      image: ""
    - title: "影视看看"
      url: "http://yskk.net/"
      image: ""
    - title: "乐赏电影"
      url: "http://www.gscq.me/"
      image: ""
    - title: "BD影视"
      url: "http://www.bd-film.co/"
      image: ""
    - title: "66影视"
      url: "http://www.66ys.tv/"
      image: ""
    - title: "深影论坛"
      url: "http://shinybbs.info"
      image: ""
    - title: "电影港"
      url: "http://www.dygang.net/"
      image: ""
    - title: "扬天影视"
      url: "https://www.mcyt.cn/"
      image: ""
    - title: "嘎嘎影视"
      url: "http://www.gagays.xyz/"
      image: ""
    - title: "bt天堂"
      url: "http://www.btbtt88.com/"
      image: ""
    - title: "无极电影"
      url: "http://bbs.btwuji.com/"
      image: ""
    - title: "蚂蚁高清"
      url: "http://www.hdmayi.com/forum.php"
      image: ""
    - title: "ed2000"
      url: "http://www.ed2000.com/"
      image: ""
    - title: "CK电影"
      url: "http://www.ck180.net/"
      image: ""
    - title: "龙部落"
      url: "http://www.lbldy.com/"
      image: ""
    - title: "飘花电影"
      url: "http://www.piaohua.com/"
      image: ""
    - title: "80s电影"
      url: "http://www.80s.tw/"
      image: ""
    - title: "6V电影"
      url: "http://www.6vhao.tv/"
      image: ""
    - title: "迷你mp4"
      url: "http://www.minimp4.com/"
      image: ""
    - title: "榴莲电影"
      url: "http://www.llduang.com/"
      image: ""
    - title: "viphd"
      url: "http://viphd.co/"
      image: ""
    - title: "瞄影网"
      url: "http://www.51yundianying.com/"
      image: ""
    - title: "音范丝电影"
      url: "http://www.yinfans.com/"
      image: ""
    - title: "蓝光网"
      url: "http://www.languang.co/"
      image: ""
    - title: "BT首发论坛"
      url: "http://www.btshoufa.net/forum.php"
      image: ""
    - title: "爱笑聚电影"
      url: "http://www.aixiaoju.com/"
      image: ""
    - title: "圣城家园"
      url: "http://www.cnscg.com/"
      image: ""
    - title: "vv电影"
      url: "http://www.mp4vv.com/"
      image: ""
    - title: "久久电影"
      url: "http://www.99mp4.net/"
      image: ""
    - title: "BT下吧"
      url: "http://www.btxiaba.com/"
      image: ""
    - title: "BT天堂"
      url: "https://www.bttt.la/"
      image: ""
    - title: "暖光影视"
      url: "http://v.sunbook.cc/"
      image: ""
    - title: "骑士影院"
      url: "http://www.74zu.com/"
      image: ""
    - title: "剧粉影视"
      url: "http://www.jufen.xyz/"
      image: ""
    - title: "狗带TV"
      url: "http://www.goudaitv.com/"
      image: ""
    - title: "天天看影院"
      url: "http://www.ttkyy.net/"
      image: ""
    - title: "新视觉影院"
      url: "http://www.yy6080.org/"
      image: ""
    - title: "最快影视"
      url: "http://www.zuikuai.tv/"
      image: ""
    - title: "零零七影视"
      url: "http://www.007ts.com/"
      image: ""
    - title: "A站"
      url: "http://www.acfun.cn/"
      image: ""
    - title: "B站"
      url: "https://www.bilibili.com/"
      image: ""
    - title: "范特西视频"
      url: "https://www.fantasy.tv/"
      image: ""
    - title: "在线之家"
      url: "http://www.1993s.top/"
      image: ""
    - title: "哈哩哈哩"
      url: "http://www.halihali.tv/"
      image: ""
    - title: "左手吃斋影视"
      url: "https://www.zsczys.com/"
      image: ""
    - title: "月影点播"
      url: "http://www.moonbt.com/"
      image: ""
    - title: "彬彬影院"
      url: "http://www.binbin95.com"
      image: ""
    - title: "艾玛影院"
      url: "http://www.flyvp.com/"
      image: ""
    - title: "VIP视频解析"
      url: "http://www.qmaile.com/"
      image: ""
    - title: "去转盘"
      url: "http://www.quzhuanpan.com/"
      image: ""
    - title: "bdy搜"
      url: "http://www.bdysou.com/"
      image: ""
    - title: "特多盘"
      url: "http://www.pan66.com/"
      image: ""
    - title: "盘搜搜"
      url: "http://www.pansoso.com/"
      image: ""
    - title: "胖次网盘"
      url: "https://www.panc.cc/"
      image: ""
    - title: "网盘007"
      url: "https://wangpan007.com/"
      image: ""
    - title: "鸵鸟搜索"
      url: "http://www.tuoniao.me/"
      image: ""
    - title: "史莱姆网盘"
      url: "http://www.slimego.cn/"
      image: ""
    - title: "58网盘"
      url: "http://www.58wangpan.com/"
      image: ""
    - title: "盘多多"
      url: "http://www.panduoduo.net/"
      image: ""
    - title: "我的盘"
      url: "http://www.wodepan.com/"
      image: ""
    - title: "搜百度盘"
      url: "http://www.sobaidupan.com/"
      image: ""
    - title: "特百度"
      url: "http://www.tebaidu.com/"
      image: ""
    - title: "西林街"
      url: "http://www.xilinjie.com/"
      image: ""
    - title: "盘搜"
      url: "http://pansou.com/"
      image: ""
    - title: "磁力猫"
      url: "http://www.cilimao.me/"
      image: ""
    - title: "BT之家"
      url: "http://www.btbtt.me/"
      image: ""
    - title: "BT人人"
      url: "http://www.btrenren.com/"
      image: ""
    - title: "飞客BT"
      url: "http://www.feikebt.com/"
      image: ""
    - title: "燕子BT"
      url: "http://www.54new.com/"
      image: ""
    - title: "BT影迷之家"
      url: "http://www.btbbt.org/"
      image: ""
    - title: "种子狗"
      url: "http://www.zhongzigou.co"
      image: ""
    - title: "591mov"
      url: "https://591mov.com/zh-hans/"
      image: ""
    - title: "BT kitty"
      url: "http://btkitty.fyi/"
      image: ""
    - title: "btlibrary"
      url: "http://btlibrary.xyz/"
      image: ""
    - title: "rarbg"
      url: "https://rarbg.is/torrents.php"
      image: ""
    - title: "lime"
      url: "https://limetorrents.unblocked.pl/"
      image: ""
    - title: "Monova"
      url: "https://monova.org/"
      image: ""
    - title: "俄站"
      url: "http://rutracker.org/forum/index.php"
      image: ""
    - title: "eztv美剧"
      url: "https://eztv.ag/"
      image: ""
    - title: "片源网"
      url: "http://pianyuan.net/"
      image: ""
    - title: " torrentking"
      url: "https://torrentking.eu/"
      image: ""
    - title: "人人影视"
      url: "http://www.zimuzu.tv/"
      image: ""
    - title: "天天美剧"
      url: "http://www.ttmeiju.vip/"
      image: ""
    - title: "neets"
      url: "http://neets.cc/"
      image: ""
    - title: "首发站美剧"
      url: "http://www.dysfz.vip/tv/"
      image: ""
    - title: "美剧天堂"
      url: "http://www.meijutt.com/"
      image: ""
    - title: "一站搜"
      url: "http://videos.yizhansou.com/"
      image: ""
    - title: "电影日志"
      url: "http://www.dyrizhi.com/"
      image: ""
    - title: "翻托邦美剧"
      url: "https://fantopia.club/"
      image: ""
    - title: "冰冰字幕组"
      url: "https://www.icezmz.com/"
      image: ""
    - title: "ssk字幕组"
      url: "http://sskzmz.com/"
      image: ""
    - title: "电波字幕组"
      url: "http://dbfansub.com/"
      image: ""
    - title: "Orange字幕组"
      url: "http://www.orangesub.com/"
      image: ""
    - title: "MAG磁力"
      url: "http://cili001.com/"
      image: ""
    - title: "FIX字幕侠"
      url: "http://www.zimuxia.cn/"
      image: ""
    - title: "首发站韩剧"
      url: "http://www.dysfz.vip/tv/"
      image: ""
    - title: "韩饭网"
      url: "http://www.hanfan.cc/hanju/"
      image: ""
    - title: "韩迷字幕组"
      url: "http://www.hanmi520.com/forum-8-1.html"
      image: ""
    - title: "热播网"
      url: "http://www.y3600.com/hanju/"
      image: ""
    - title: "韩剧网"
      url: "http://www.hanju.cc/"
      image: ""
    - title: "幻想乐园"
      url: "http://hxly9.com/forum.php"
      image: ""
    - title: "神叨字幕组"
      url: "http://shenbibi.com/portal.php"
      image: ""
    - title: "追番剧"
      url: "http://zhuixinfan.com/main.php"
      image: ""
    - title: "猪猪日剧"
      url: "http://www.zzrbl.com/"
      image: ""
    - title: "隐社"
      url: "http://www.hideystudio.com/drama/"
      image: ""
    - title: "91日剧"
      url: "http://www.91riju.com/"
      image: ""
    - title: "日菁字幕组"
      url: "http://www.mytvbt.net/forumdisplay.php?fid=6"
      image: ""
    - title: "光合社"
      url: "http://pssclub.com/forum.php"
      image: ""
    - title: "东京不够热"
      url: "http://www.tokyonothot.com/portal.php"
      image: ""
    - title: "首发站tv"
      url: "http://www.dysfz.me/tv/"
      image: ""
    - title: "影视日志"
      url: "http://www.dyrizhi.com/"
      image: ""
    - title: "暖光影视"
      url: "http://v.sunbook.cc/"
      image: ""
    - title: "骑士影院"
      url: "http://www.74zu.com/"
      image: ""
    - title: "6V国剧"
      url: "http://www.6vhao.tv/dlz/"
      image: ""
    - title: "80tv"
      url: "http://www.80s.tw/ju/list/----9-"
      image: ""
    - title: "乐赏剧集"
      url: "http://www.gscq.me/"
      image: ""
    - title: "A站"
      url: "http://www.acfun.cn/"
      image: ""
    - title: "B站"
      url: "https://www.bilibili.com/"
      image: ""
    - title: "D站"
      url: "http://www.dilidili.wang/"
      image: ""
    - title: "M站"
      url: "http://www.missevan.com/"
      image: ""
    - title: "爱恋动漫"
      url: "http://www.kisssub.org/"
      image: ""
    - title: "动漫花园"
      url: "https://share.dmhy.org/"
      image: ""
    - title: "Mikan"
      url: "https://mikanani.me/"
      image: ""
    - title: "简单动漫"
      url: "http://www.36dm.com/"
      image: ""
    - title: "喵搜"
      url: "https://nyaso.com/"
      image: ""
    - title: "漫猫动漫"
      url: "http://www.comicat.org/"
      image: ""
    - title: "萌番组"
      url: "https://bangumi.moe/"
      image: ""
    - title: "稻田装尸"
      url: "http://www.dm2046.com/"
      image: ""
    - title: "ACG狗狗"
      url: "http://bt.acg.gg/"
      image: ""
    - title: "月影动漫"
      url: "http://www.moonbt.com/"
      image: ""
    - title: "爱看番动漫"
      url: "http://www.ikanfan.com/"
      image: ""
    - title: "枫雪动漫"
      url: "http://bbs.opfans.org/forum.php"
      image: ""
    - title: "纪录片天地"
      url: "http://www.jlpcn.net/"
      image: ""
    - title: "老记录"
      url: "https://www.laojilu.com/"
      image: ""
    - title: "公开课纪录片"
      url: "http://www.onehourlife.com/"
      image: ""
    - title: "行者物语纪录片"
      url: "http://jilupian.xzwyu.com/"
      image: ""
    - title: "优酷纪实"
      url: "http://jilupian.youku.com/"
      image: ""
    - title: "央视记实"
      url: "http://jishi.cctv.com/"
      image: ""
    - title: "搜狐纪录片"
      url: "http://tv.sohu.com/documentary/"
      image: ""
    - title: "爱奇艺纪录片"
      url: "http://www.iqiyi.com/jilupian/"
      image: ""
    - title: "腾讯纪录片"
      url: "http://v.qq.com/doco/"
      image: ""
    - title: "SubHd"
      url: "http://subhd.com/"
      image: ""
    - title: "字幕库"
      url: "http://www.zimuku.cn/"
      image: ""
    - title: "伪射手"
      url: "http://assrt.net/"
      image: ""
    - title: "subom"
      url: "http://www.subom.org/"
      image: ""
    - title: "R3字幕"
      url: "https://r3sub.com/"
      image: ""
    - title: "字幕天堂"
      url: "http://www.zmtiantang.com/"
      image: ""
    - title: "精研社"
      url: "http://www.hd.club.tw/forum-25-1.html"
      image: ""
    - title: "翻托邦字幕组"
      url: "https://fantopia.club/"
      image: ""
    - title: "诸神字幕组"
      url: "http://www.kamigami.org/"
      image: ""
    - title: "ssk字幕组"
      url: "http://sskzmz.com/"
      image: ""
    - title: "TLF字幕组"
      url: "http://sub.eastgame.org/"
      image: ""
    - title: "破烂熊字幕组"
      url: "https://weibo.com/ragbear2007"
      image: ""
    - title: "电波字幕组"
      url: "http://dbfansub.com/"
      image: ""
    - title: "同志亦凡人"
      url: "http://www.qafone.co/"
      image: ""
    - title: "猪猪字幕组"
      url: "http://www.zzrbl.com/"
      image: ""
    - title: "FIX字幕侠"
      url: "http://www.zimuxia.cn/"
      image: ""
    - title: "Orange字幕组"
      url: "http://www.orangesub.com/"
      image: ""
    - title: "东京不够热字幕组"
      url: "http://www.tokyonothot.com/portal.php"
      image: ""
    - title: "豆瓣电影"
      url: "https://movie.douban.com/"
      image: ""
    - title: "时光网"
      url: "http://www.mtime.com/"
      image: ""
    - title: "IMDB"
      url: "http://www.imdb.com/"
      image: ""
    - title: "烂番茄"
      url: "https://www.rottentomatoes.com/"
      image: ""
    - title: "MTC"
      url: "http://www.metacritic.com/"
      image: ""
    - title: "天涯小筑"
      url: "http://tvfantasy.net/"
      image: ""
    - title: "开眼电影"
      url: "http://www.atmovies.com.tw/movie/"
      image: ""
    - title: "电影海报"
      url: "http://www.impawards.com/"
      image: ""
    - title: "电影工厂"
      url: "https://weibo.com/moviefactory"
      image: ""
    - title: "次等水货"
      url: "https://weibo.com/cidengshuihuo"
      image: ""
    - title: "桃桃淘电影"
      url: "https://weibo.com/206494942"
      image: ""
    - title: "毒舌电影"
      url: "https://weibo.com/dsmovie"
      image: ""
    - title: "李小军的电影日常"
      url: "https://weibo.com/lixiaojun9527"
      image: ""
    - title: "刘哔电影"
      url: "https://weibo.com/liubimovie"
      image: ""
    - title: "电影特搜"
      url: "https://weibo.com/u/2864008873"
      image: ""
    - title: "松子电影"
      url: "https://weibo.com/u/2686330651"
      image: ""
    - title: "亵渎电影"
      url: "https://weibo.com/zhangzongqian"
      image: ""
    - title: "刷电影老太太"
      url: "https://weibo.com/batefei"
      image: ""
    - title: "电影幕后故事"
      url: "https://weibo.com/moviefansclub"
      image: ""
    - title: "电影Mark"
      url: "https://weibo.com/208882127"
      image: ""
    - title: "守望好莱坞"
      url: "https://weibo.com/sinahollyworld"
      image: ""
    - title: "独立鱼"
      url: "https://weibo.com/duliyu"
      image: ""
    - title: "整点电影"
      url: "https://weibo.com/u/2315579285"
      image: ""
    - title: "方君荐电影"
      url: "https://weibo.com/u/2302129312"
      image: ""
    - title: "影评老大爷暗夜骑士"
      url: "https://weibo.com/cfcu"
      image: ""
    - title: "MovieMonster"
      url: "https://weibo.com/MovieMonster"
      image: ""
    - title: "青红造了个白"
      url: "https://weibo.com/qonghongzaolegebai"
      image: ""
    - title: "发条张"
      url: "https://weibo.com/zhangchuan307"
      image: ""
    - title: "实时票房"
      url: "http://www.cbooo.cn/"
      image: ""
    - title: "种子转磁力"
      url: "http://www.torrent.org.cn/"
      image: ""
    - title: "美剧时间更新表"
      url: "http://huo360.com/calendar"
      image: ""
    - title: "美剧背景音乐"
      url: "https://www.tunefind.com/"
      image: ""
    - title: "短片视频"
      url: "http://www.vmovier.com/"
      image: ""
    - title: "预告片世界"
      url: "http://yugaopian.cn/"
      image: ""
    - title: "VIP视频解析"
      url: "http://www.qmaile.com/"
      image: ""
    - title: "知轩藏书"
      url: "http://www.zxcs8.com/"
      image: ""
    - title: "owllook搜索"
      url: "https://www.owllook.net/"
      image: ""
    - title: "言情小说吧"
      url: "https://www.xs8.cn/"
      image: ""
    - title: "搜读"
      url: "http://www.soduso.com/"
      image: ""
    - title: "笔趣阁"
      url: "http://www.biquge5200.com/"
      image: ""
    - title: "顶点小说"
      url: "http://www.x23us.com/"
      image: ""
    - title: "下书网"
      url: "https://www.xiashu.cc/"
      image: ""
    - title: "混混小说"
      url: "https://www.hunhun520.com/"
      image: ""
    - title: "逐浪小说网"
      url: "http://www.zhulang.com/"
      image: ""
    - title: "幻剑书盟"
      url: "http://hjsm.tom.com/"
      image: ""
    - title: "小说阅读网"
      url: "https://www.readnovel.com/"
      image: ""
    - title: "起点女生网"
      url: "https://www.qdmm.com/"
      image: ""
    - title: "磨铁中文网"
      url: "http://www.motie.com/"
      image: ""
    - title: "久久小说"
      url: "http://www.jjxsw.com/"
      image: ""
    - title: "最易读"
      url: "http://zuiyidu.com/"
      image: ""
    - title: "晋江文学"
      url: "http://www.jjwxc.net/"
      image: ""
    - title: "创世中文网"
      url: "http://chuangshi.qq.com/"
      image: ""
    - title: "书包网"
      url: "https://www.bookbao8.com/"
      image: ""
    - title: "二次元小说"
      url: "http://www.8kana.com/"
      image: ""
    - title: "17K小说网"
      url: "http://www.17k.com/"
      image: ""
    - title: "潇湘书院"
      url: "http://www.xxsy.net/"
      image: ""
    - title: "红袖添香"
      url: "https://www.hongxiu.com/"
      image: ""
    - title: "纵横中文网"
      url: "http://www.zongheng.com/"
      image: ""
    - title: "起点中文网"
      url: "https://www.qidian.com/"
      image: ""
    - title: "铅笔小说"
      url: "https://www.23qb.com/"
      image: ""
    - title: "追书神器"
      url: "http://www.zhuishushenqi.com/"
      image: ""
    - title: "奇书网"
      url: "https://www.qisuu.com/"
      image: ""
    - title: "书伴"
      url: "https://bookfere.com/"
      image: ""
    - title: "走读派"
      url: "http://www.zoudupai.com/"
      image: ""
    - title: "亚马逊kindle"
      url: "https://www.amazon.cn/Kindle电子书/b/ref=sv_kinc_3?ie=UTF8&amp;node=116169071"
      image: ""
    - title: "我的小书屋"
      url: "http://mebook.cc/"
      image: ""
    - title: "掌上书苑"
      url: "https://www.cnepub.com/"
      image: ""
    - title: "iDesks"
      url: "http://idesks.me/"
      image: ""
    - title: "好读"
      url: "http://haodoo.net/?M=hd&amp;P=welcome"
      image: ""
    - title: "醒客读书"
      url: "http://www.xkreading.com/"
      image: ""
    - title: "多看阅读"
      url: "http://www.duokan.com/"
      image: ""
    - title: "喜马拉雅"
      url: "http://www.ximalaya.com/"
      image: ""
    - title: "懒人听书"
      url: "http://www.lrts.me/"
      image: ""
    - title: "趣听书"
      url: "http://qutingshu.com/"
      image: ""
    - title: "天方听书"
      url: "http://www.tingbook.com/"
      image: ""
    - title: "静雅思听"
      url: "http://www.justing.com.cn/#/home/recommend"
      image: ""
    - title: "有声听书"
      url: "http://www.ysts8.com/"
      image: ""
    - title: "听中国"
      url: "http://www.tingchina.com/"
      image: ""
    - title: "悦读FM"
      url: "http://yuedu.fm/"
      image: ""
    - title: "中国评书网"
      url: "http://www.zgpingshu.com/"
      image: ""
    - title: "我听评书"
      url: "http://www.5tps.com/"
      image: ""
    - title: "评书吧"
      url: "http://www.pingshu8.com/"
      image: ""
    - title: "暴走漫画"
      url: "http://baozoumanhua.com/"
      image: ""
    - title: "有妖气"
      url: "http://www.u17.com/"
      image: ""
    - title: "快看漫画"
      url: "http://www.kuaikanmanhua.com/"
      image: ""
    - title: "动漫之家"
      url: "http://manhua.dmzj.com/"
      image: ""
    - title: "动漫屋"
      url: "http://www.dm5.com/"
      image: ""
    - title: "知音动漫"
      url: "http://www.zymk.cn/"
      image: ""
    - title: "极速漫画"
      url: "http://www.1kkk.com/"
      image: ""
    - title: "搜漫画"
      url: "http://www.somanhua.com/"
      image: ""
    - title: "鼠绘漫画"
      url: "http://www.ishuhui.com/cartoon"
      image: ""
    - title: "漫本"
      url: "http://www.manben.com/"
      image: ""
    - title: "KuKu动漫"
      url: "http://comic.kukudm.com/"
      image: ""
    - title: "SF漫画"
      url: "http://comic.sfacg.com/"
      image: ""
    - title: "18劲动漫"
      url: "http://www.18jdm.com/"
      image: ""
    - title: "漫漫漫画"
      url: "http://www.manmanapp.com/"
      image: ""
    - title: "漫画柜"
      url: "http://www.manhuagui.com/"
      image: ""
    - title: "轻之阅读"
      url: "http://www.linovel.net/"
      image: ""
    - title: "布卡漫画"
      url: "http://www.buka.cn/"
      image: ""
    - title: "V漫画"
      url: "http://manhua.weibo.com/"
      image: ""
    - title: "vol漫画"
      url: "http://vol.moe/"
      image: ""
    - title: "腾讯动漫"
      url: "http://ac.qq.com/"
      image: ""
    - title: "网易动漫"
      url: "https://manhua.163.com/"
      image: ""
    - title: "读者在线"
      url: "http://www.52duzhe.com/"
      image: ""
    - title: "意林在线"
      url: "http://www.92yilin.com/"
      image: ""
    - title: "故事会在线"
      url: "http://www.92gushi.com/"
      image: ""
    - title: "走盘网"
      url: "http://www.zoupan.com/category/mianfeizazhi/"
      image: ""
    - title: "PDF之家"
      url: "http://www.pdfzj.com/"
      image: ""
    - title: "十月的杂货铺"
      url: "https://weibo.com/pcpx"
      image: ""
    - title: "原版君"
      url: "https://weibo.com/magazine8"
      image: ""
    - title: "若蓝格"
      url: "http://www.ifblue.net/"
      image: ""
    - title: "Bucee杂志馆"
      url: "http://www.freelian.com/"
      image: ""
    - title: "杂志惠"
      url: "http://www.zazhihui.net/"
      image: ""
    - title: "高清杂志网"
      url: "http://www.gqzzw.com/"
      image: ""
    - title: "豆瓣读书"
      url: "https://book.douban.com/"
      image: ""
    - title: "简书"
      url: "http://www.jianshu.com/"
      image: ""
    - title: "鸠摩搜书"
      url: "https://www.jiumodiary.com/"
      image: ""
    - title: "浩扬励志"
      url: "http://www.9lizhi.com/"
      image: ""
    - title: "周读"
      url: "http://www.ireadweek.com/"
      image: ""
    - title: "观点网"
      url: "http://www.guandn.com/"
      image: ""
    - title: "左岸读书"
      url: "http://www.zreading.cn/"
      image: ""
    - title: "读书小站"
      url: "http://ibooks.org.cn/"
      image: ""
    - title: "书问"
      url: "http://www.bookask.com/"
      image: ""
    - title: "书格"
      url: "https://shuge.org/"
      image: ""
    - title: "鲸鱼阅读"
      url: "http://www.jingyu.com/"
      image: ""
    - title: "兔耳日记"
      url: "http://www.tuer.me/"
      image: ""
    - title: "网易云音乐"
      url: "http://music.163.com/"
      image: ""
    - title: "虾米音乐"
      url: "http://www.xiami.com/"
      image: ""
    - title: "QQ音乐"
      url: "https://y.qq.com/"
      image: ""
    - title: "酷狗音乐"
      url: "http://www.kugou.com/"
      image: ""
    - title: "酷我音乐"
      url: "http://www.kuwo.cn/"
      image: ""
    - title: "百度音乐"
      url: "http://music.baidu.com/"
      image: ""
    - title: "豆瓣FM"
      url: "https://douban.fm/"
      image: ""
    - title: "咪咕音乐"
      url: "http://www.migu.cn/music.html"
      image: ""
    - title: "喜马拉雅FM"
      url: "http://www.ximalaya.com"
      image: ""
    - title: "5sing音乐"
      url: "http://5sing.kugou.com/index.html"
      image: ""
    - title: "echo回声"
      url: "http://www.app-echo.com"
      image: ""
    - title: "一听音乐"
      url: "http://www.1ting.com/"
      image: ""
    - title: "九天音乐"
      url: "http://www.9sky.com/"
      image: ""
    - title: "余声"
      url: "http://itwusun.com/"
      image: ""
    - title: "乐鼠无牙"
      url: "http://www.nofm.cn/"
      image: ""
    - title: "班得瑞"
      url: "https://www.bandari.net/"
      image: ""
    - title: "音悦台"
      url: "http://www.yinyuetai.com/"
      image: ""
    - title: "腾讯MV"
      url: "http://v.qq.com/music/"
      image: ""
    - title: "爱奇艺MV"
      url: "http://music.iqiyi.com/"
      image: ""
    - title: "酷狗MV"
      url: "http://www.kugou.com/mvweb/html/"
      image: ""
    - title: "酷我MV"
      url: "http://www.kuwo.cn/mv/"
      image: ""
    - title: "真乐网"
      url: "http://www.truemv.com/"
      image: ""
    - title: "170MV"
      url: "http://www.170mv.com/"
      image: ""
    - title: "HDMV"
      url: "http://www.hdmv.org/"
      image: ""
    - title: "无损音乐网"
      url: "http://wusunyinyue.cn/forum.php"
      image: ""
    - title: "磨坊音乐"
      url: "http://www.moofeel.com/"
      image: ""
    - title: "91听歌网"
      url: "http://www.91tingge.com/"
      image: ""
    - title: "51ape"
      url: "http://www.51ape.com/"
      image: ""
    - title: "88六音乐"
      url: "http://www.88liu.com/"
      image: ""
    - title: "ape8音乐"
      url: "http://ape8.cn/"
      image: ""
    - title: "SACD音乐"
      url: "https://sacdr.net/plugin.php?id=comeing_guide"
      image: ""
    - title: "Hires后花园"
      url: "https://trix360.com/"
      image: ""
    - title: "CD包音乐"
      url: "http://www.cdbao.net/"
      image: ""
    - title: "风云音乐"
      url: "http://www.hcyy.org/"
      image: ""
    - title: "听雨轩"
      url: "http://www.tingyuxuan.net/"
      image: ""
    - title: "至爱音乐"
      url: "http://www.zhiaimusic.com/"
      image: ""
    - title: "MixRNB"
      url: "http://www.mixrnb.com/"
      image: ""
    - title: "落网"
      url: "http://www.luoo.net/"
      image: ""
    - title: "清音陋室"
      url: "http://www.52qingyin.cn/"
      image: ""
    - title: "水手音乐"
      url: "http://www.musicsailor.com/"
      image: ""
    - title: "如果你能静下来"
      url: "http://www.iyccd.com/"
      image: ""
    - title: "Justlndie"
      url: "http://indietime.lofter.com/"
      image: ""
    - title: "乐之随"
      url: "http://www.maninmusic.com/"
      image: ""
    - title: "耳帝"
      url: "https://weibo.com/eargod"
      image: ""
    - title: "Houson猴姆"
      url: "https://weibo.com/houson100037"
      image: ""
    - title: "百度文库"
      url: "https://wenku.baidu.com/"
      image: ""
    - title: "360doc"
      url: "http://www.360doc.com/index.html"
      image: ""
    - title: "中国知网"
      url: "http://www.cnki.net/"
      image: ""
    - title: "MBA智库"
      url: "http://doc.mbalib.com/"
      image: ""
    - title: "豆丁网"
      url: "http://www.docin.com/"
      image: ""
    - title: "道客巴巴"
      url: "http://www.doc88.com/"
      image: ""
    - title: "大桔灯"
      url: "http://www.dajudeng.com/"
      image: ""
    - title: "IT168文库"
      url: "http://wenku.it168.com/"
      image: ""
    - title: "第一范文网"
      url: "http://www.diyifanwen.com/"
      image: ""
    - title: "哲学社会科学文献"
      url: "http://www.ncpssd.org/index.aspx"
      image: ""
    - title: "丁香文档"
      url: "http://d.mdnews.cn/"
      image: ""
    - title: "中国大学MOOC"
      url: "http://www.icourse163.org/"
      image: ""
    - title: "网易云课堂"
      url: "http://study.163.com/"
      image: ""
    - title: "腾讯课堂"
      url: "https://ke.qq.com/"
      image: ""
    - title: "慕课网"
      url: "https://www.imooc.com/"
      image: ""
    - title: "MOOC学院"
      url: "https://mooc.guokr.com/"
      image: ""
    - title: "蓝鸥学院"
      url: "http://ok.lanou3g.com/"
      image: ""
    - title: "爱课程"
      url: "http://www.icourses.cn/home/"
      image: ""
    - title: "我要自学网"
      url: "http://www.51zxw.net/"
      image: ""
    - title: "oeasy"
      url: "http://oeasy.org/"
      image: ""
    - title: "云路课堂"
      url: "http://www.yun.lu/student/homepage"
      image: ""
    - title: "考研社区"
      url: "http://bbs.kaoshidian.com/resource"
      image: ""
    - title: "考研帮"
      url: "http://download.kaoyan.com/"
      image: ""
    - title: "考研论坛"
      url: "http://bbs.kaoyan.com/"
      image: ""
    - title: "知识宝库"
      url: "http://www.1zhao.org/"
      image: ""
    - title: "辅仁网"
      url: "http://bbs.freekaoyan.com/forum.php"
      image: ""
    - title: "每日考研笔记"
      url: "https://weibo.com/719656790"
      image: ""
    - title: "考虫考研萌酱"
      url: "https://weibo.com/u/5359434969"
      image: ""
    - title: "文艺君考研 "
      url: "https://weibo.com/s1002297748"
      image: ""
    - title: "找研友吧"
      url: "https://weibo.com/u/5372911673"
      image: ""
    - title: "考研资源库"
      url: "https://weibo.com/kyqq"
      image: ""
    - title: "英语魔方秀"
      url: "http://www.mofunenglish.com/"
      image: ""
    - title: "多邻国"
      url: "http://www.duolingo.cn/"
      image: ""
    - title: "美国之音"
      url: "http://www.51voa.com/"
      image: ""
    - title: "第一口语网"
      url: "http://www.1speaking.com/"
      image: ""
    - title: "大耳朵英语"
      url: "http://www.bigear.cn/"
      image: ""
    - title: "可可英语"
      url: "http://www.kekenet.com/"
      image: ""
    - title: "普特英语"
      url: "http://www.putclub.com/"
      image: ""
    - title: "七彩英语"
      url: "http://www.qcenglish.com/"
      image: ""
    - title: "扇贝"
      url: "https://www.shanbay.com/"
      image: ""
    - title: "千图网"
      url: "http://www.58pic.com/"
      image: ""
    - title: "千库网"
      url: "http://588ku.com/"
      image: ""
    - title: "天空之城"
      url: "https://www.skypixel.com/"
      image: ""
    - title: "日系素材"
      url: "https://www.pakutaso.com/"
      image: ""
    - title: "StockSnap"
      url: "https://stocksnap.io/"
      image: ""
    - title: "visualhunt"
      url: "https://visualhunt.com/"
      image: ""
    - title: "deviantart"
      url: "https://www.deviantart.com/"
      image: ""
    - title: "barnimages"
      url: "https://barnimages.com/"
      image: ""
    - title: "pexels"
      url: "https://www.pexels.com/"
      image: ""
    - title: "Pixabay"
      url: "https://pixabay.com/"
      image: ""
    - title: "Wallhaven"
      url: "https://alpha.wallhaven.cc/"
      image: ""
    - title: "gratisography"
      url: "https://gratisography.com/"
      image: ""
    - title: "pngimg"
      url: "http://pngimg.com/"
      image: ""
    - title: "500px"
      url: "https://500px.com/"
      image: ""
    - title: "librestock"
      url: "http://librestock.com/"
      image: ""
    - title: "wallions壁纸"
      url: "https://wallions.com/"
      image: ""
    - title: "photo stocker"
      url: "http://photo.v-colors.com/"
      image: ""
    - title: "freeimages"
      url: "https://cn.freeimages.com/"
      image: ""
    - title: "食物素材"
      url: "https://www.foodiesfeed.com/"
      image: ""
    - title: "汽车素材"
      url: "https://www.netcarshow.com/"
      image: ""
    - title: "宠物素材"
      url: "http://www.cutestpaw.com/"
      image: ""
    - title: "阿里巴巴图库"
      url: "http://www.iconfont.cn/"
      image: ""
    - title: "好图"
      url: "http://www.haotu.net/"
      image: ""
    - title: "icons8"
      url: "https://icons8.com/"
      image: ""
    - title: "easyicon"
      url: "http://www.easyicon.net/"
      image: ""
    - title: "flaticon"
      url: "https://www.flaticon.com/"
      image: ""
    - title: "iconpng"
      url: "http://www.iconpng.com/"
      image: ""
    - title: "thenounproject"
      url: "https://thenounproject.com/"
      image: ""
    - title: "iconmonstr"
      url: "https://iconmonstr.com/"
      image: ""
    - title: "iconarchive"
      url: "http://www.iconarchive.com/"
      image: ""
    - title: "veryicon"
      url: "http://www.veryicon.com/"
      image: ""
    - title: "fontawesome"
      url: "http://fontawesome.io/"
      image: ""
    - title: "iconstore"
      url: "https://iconstore.co/"
      image: ""
    - title: "字体之家"
      url: "http://www.17ziti.com/"
      image: ""
    - title: "搜字网"
      url: "http://www.sozi.cn/zitidaquan/"
      image: ""
    - title: "字体宝库"
      url: "http://font.knowsky.com/"
      image: ""
    - title: "求字体"
      url: "http://www.qiuziti.com/"
      image: ""
    - title: "找字网"
      url: "http://www.zhaozi.cn/"
      image: ""
    - title: "字体传奇"
      url: "http://www.ziticq.com/"
      image: ""
    - title: "字由"
      url: "http://www.hellofont.cn/"
      image: ""
    - title: "字体松鼠"
      url: "https://www.fontsquirrel.com/"
      image: ""
    - title: "第一字体"
      url: "http://www.diyiziti.com/"
      image: ""
    - title: "losttype"
      url: "http://www.losttype.com/browse/"
      image: ""
    - title: "fontfabric"
      url: "http://www.fontfabric.com/"
      image: ""
    - title: "fontex"
      url: "http://www.fontex.org/"
      image: ""
    - title: "音笑网"
      url: "http://www.yisell.com/"
      image: ""
    - title: "小森平音效"
      url: "http://taira-komori.jpn.org/freesoundcn.html"
      image: ""
    - title: "录音网"
      url: "http://www.luyin.com/"
      image: ""
    - title: "爱给素材"
      url: "http://www.aigei.com/sound/"
      image: ""
    - title: "素材吧"
      url: "http://www.sucaibar.com/yinxiao/"
      image: ""
    - title: "音效网"
      url: "http://yinxiao.net/"
      image: ""
    - title: "soundsnap"
      url: "https://www.soundsnap.com/"
      image: ""
    - title: "findsounds"
      url: "http://www.findsounds.com/typesChinese.html"
      image: ""
    - title: "知页简历"
      url: "https://www.zhiyeapp.com/"
      image: ""
    - title: "乔布简历"
      url: "http://cv.qiaobutang.com/tpl/"
      image: ""
    - title: "简历"
      url: "http://www.ijianli.com/"
      image: ""
    - title: "稻壳儿简历"
      url: "http://list.docer.com/应用文书/?tags=简历求职"
      image: ""
    - title: "officeplus"
      url: "http://www.officeplus.cn/List.shtml?cat=WORD&amp;tag=13"
      image: ""
    - title: "hloom"
      url: "http://www.hloom.com/resumes/"
      image: ""
    - title: "优品PPT"
      url: "http://www.ypppt.com/"
      image: ""
    - title: "我爱PPT"
      url: "http://iloveppt.cn/forum.php?mod=forumdisplay&amp;fid=51"
      image: ""
    - title: "扑奔网"
      url: "http://www.pooban.com/"
      image: ""
    - title: "巧办网"
      url: "http://qiao88.com/pptmuban/"
      image: ""
    - title: "逼格PPT"
      url: "http://www.tretars.com/"
      image: ""
    - title: "第1PPT"
      url: "http://www.1ppt.com/"
      image: ""
    - title: "officeplus"
      url: "http://www.officeplus.cn/List.shtml?cat=PPT"
      image: ""
    - title: "pptfans"
      url: "http://www.pptfans.cn/pptmuban"
      image: ""
    - title: "pptstore"
      url: "http://www.pptstore.net/ppt_moban/?opt=free"
      image: ""
    - title: "51PPT"
      url: "http://www.51pptmoban.com/"
      image: ""
    - title: "PPT大学"
      url: "http://www.pptschool.com/"
      image: ""
    - title: "无忧PPT"
      url: "http://www.51ppt.com.cn/"
      image: ""
    - title: "花瓣网"
      url: "http://huaban.com/"
      image: ""
    - title: "幻觉"
      url: "http://illusion.scene360.com/"
      image: ""
    - title: "优优灵感"
      url: "https://uiiiuiii.com/inspiration"
      image: ""
    - title: "灵感网络"
      url: "http://theinspirationgrid.com/"
      image: ""
    - title: "booooooom"
      url: "https://www.booooooom.com/"
      image: ""
    - title: "producthunt"
      url: "https://www.producthunt.com/"
      image: ""
    - title: "lapa"
      url: "http://www.lapa.ninja/"
      image: ""
    - title: "onepagemania"
      url: "https://www.onepagemania.com/"
      image: ""
    - title: "artstation"
      url: "https://www.artstation.com/"
      image: ""
    - title: "zd423"
      url: "http://www.zdfans.com/"
      image: ""
    - title: "吾爱破解"
      url: "https://www.52pojie.cn/"
      image: ""
    - title: "IT热评"
      url: "https://www.itreping.com/"
      image: ""
    - title: "appinn"
      url: "https://www.appinn.com/"
      image: ""
    - title: "学破解"
      url: "http://www.xuepojie.com/forum.php?mod=guide&amp;view=newthread"
      image: ""
    - title: "异次元软件"
      url: "https://www.iplaysoft.com/"
      image: ""
    - title: "鱼·后花园"
      url: "https://www.fishlee.net/"
      image: ""
    - title: "胡萝卜周"
      url: "http://www.carrotchou.blog/"
      image: ""
    - title: "绿色分享吧"
      url: "http://www.lrshare.com/"
      image: ""
    - title: "便携软件"
      url: "https://www.portablesoft.org/"
      image: ""
    - title: "软件缘"
      url: "https://www.appcgn.com/"
      image: ""
    - title: "th-sjy汉化博客"
      url: "http://www.th-sjy.com/"
      image: ""
    - title: "大眼仔"
      url: "http://www.dayanzai.me/"
      image: ""
    - title: "爱软客"
      url: "http://www.bokeboke.net/"
      image: ""
    - title: "小众软件"
      url: "http://love.appinn.com/"
      image: ""
    - title: "轻狂志"
      url: "http://www.flighty.cn/"
      image: ""
    - title: "Windows应用"
      url: "https://amazing-apps.gitbooks.io/windows-apps-that-amaze-us/content/zh-CN/"
      image: ""
    - title: "Mac应用"
      url: "http://wangchujiang.com/awesome-mac/index.zh.html"
      image: ""
    - title: "二维码生成器"
      url: "https://cli.im/"
      image: ""
    - title: "微博视频下载"
      url: "http://www.weibovideo.com/"
      image: ""
    - title: "小视频下载"
      url: "http://www.downfi.com/video/"
      image: ""
    - title: "短连接生成"
      url: "http://dwz.cn/"
      image: ""
    - title: "在线文件转换器"
      url: "https://convertio.co/zh/"
      image: ""
    - title: "在线排版"
      url: "http://p.haoii123.com/"
      image: ""
    - title: "孟坤在线"
      url: "http://tool.mkblog.cn/"
      image: ""
    - title: "99计算网"
      url: "http://www.99cankao.com/"
      image: ""
    - title: "企业信息查询"
      url: "https://www.tianyancha.com/"
      image: ""
    - title: "随机密码生成器"
      url: "http://tool.c7sky.com/password/"
      image: ""
    - title: "地图制作"
      url: "https://www.ageeye.cn/"
      image: ""
    - title: "种子转换磁力"
      url: "http://www.torrent.org.cn/"
      image: ""
    - title: "淘宝优惠券查询"
      url: "https://www.kooshui.com/"
      image: ""
    - title: "在线工具"
      url: "https://tool.lu/"
      image: ""
    - title: "PS在线"
      url: "http://www.uupoop.com/"
      image: ""
    - title: "美图秀秀网页版"
      url: "http://xiuxiu.web.meitu.com/main.html"
      image: ""
    - title: "图丫丫"
      url: "http://www.tuyaya.com/"
      image: ""
    - title: "pho"
      url: "http://editor.pho.to/zh/"
      image: ""
    - title: "iLoveLMG"
      url: "https://www.iloveimg.com/zh_cn"
      image: ""
    - title: "在线图片优化器"
      url: "http://optimizilla.com/zh/"
      image: ""
    - title: "色彩笔"
      url: "http://www.secaibi.com/tools/"
      image: ""
    - title: "图片外链"
      url: "http://www.tietuku.com/"
      image: ""
    - title: "XnView"
      url: "https://www.xnview.com/en/"
      image: ""
    - title: "gif裁剪"
      url: "https://pan.baidu.com/s/1gfGSntx"
      image: ""
    - title: "soogif"
      url: "http://soogif.com/"
      image: ""
    - title: "撸表情"
      url: "http://www.lubiaoqing.com/"
      image: ""
    - title: "逗比拯救世界"
      url: "http://www.bee-ji.com/"
      image: ""
    - title: "斗图终结者"
      url: "https://www.52doutu.cn/"
      image: ""
    - title: "装逼神器"
      url: "http://deepba.com/"
      image: ""
    - title: "表情帝"
      url: "http://www.biaoqingdi.net/"
      image: ""
    - title: "斗图啦"
      url: "https://www.doutula.com/"
      image: ""
    - title: "Smallpdf"
      url: "https://smallpdf.com/cn"
      image: ""
    - title: "iLovePDF"
      url: "https://www.ilovepdf.com/zh_cn"
      image: ""
    - title: "pdfcandy"
      url: "https://pdfcandy.com/"
      image: ""
    - title: "pdf在线"
      url: "http://pdf2doc.com/zh/"
      image: ""
    - title: "迅捷PDF"
      url: "http://app.xunjiepdf.com/"
      image: ""
    - title: "在线PDF转换器"
      url: "https://www.pdf2go.com/zh/"
      image: ""
    - title: "GIF出处"
      url: "http://www.gif521.com/forum.php?mod=forumdisplay&amp;fid=49"
      image: ""
    - title: "煎蛋妹子图"
      url: "http://jandan.net/ooxx"
      image: ""
    - title: "福利吧"
      url: "http://f.uliba.net/"
      image: ""
    - title: "宅男吧"
      url: "http://zhainanba.net/"
      image: ""
    - title: "桃心福利"
      url: "http://txflsp.com/"
      image: ""
    - title: "LU福利"
      url: "http://www.lufuli.com/"
      image: ""
    - title: "屌丝青年"
      url: "http://www.dsqnw.com/"
      image: ""
    - title: "福利梯"
      url: "http://www.fuliti.com/"
      image: ""
    - title: "宅男猫"
      url: "http://www.zhainanmao.com/"
      image: ""
    - title: "极有料"
      url: "http://www.jiyouliao.com/"
      image: ""
    - title: "性感图虫"
      url: "https://tuchong.com/tags/性感"
      image: ""
    - title: "妹子图"
      url: "http://www.meizitu.com/"
      image: ""
    - title: "59美女图"
      url: "http://www.59pic.com/"
      image: ""
    - title: "饭粒邪恶网"
      url: "http://www.chufanli.com/"
      image: ""
    - title: "114美图"
      url: "http://www.114tuku.com/"
      image: ""
    - title: "福利社"
      url: "https://www.zhainanfulishe.net/"
      image: ""
    - title: "糗事百科"
      url: "https://www.qiushibaike.com/"
      image: ""
    - title: "犯贱志"
      url: "http://fanjian.net/"
      image: ""
    - title: "百思不得姐"
      url: "http://www.budejie.com/"
      image: ""
    - title: "嘻嘻哈哈"
      url: "http://www.xxhh.com/"
      image: ""
    - title: "捧腹网"
      url: "https://www.pengfu.com/"
      image: ""
    - title: "你好污啊"
      url: "https://www.nihaowua.com"
      image: ""
    - title: "达速动漫区"
      url: "http://www.dasudy.com/vod-type-id-3-wd--letter--year-0-area--order-hits-p-2.html"
      image: ""
---
<!DOCTYPE html>
<html data-dpr="1" style="font-size: 80px;" data-blockbyte-bs-uid="13344" class="gr__m_hao123_com">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta content="telephone=no" name="format-detection">
  <meta name="keywords" content="上网导航,网址大全,网址导航">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <meta name="referrer" content="always">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//as1.m.hao123.com">
  <link rel="dns-prefetch" href="//cpro.baidustatic.com">
  <link rel="dns-prefetch" href="//fex.bdstatic.com">
  <link rel="dns-prefetch" href="//gsp0.baidu.com">
  <link rel="dns-prefetch" href="//gss0.bdstatic.com">
  <link rel="dns-prefetch" href="//hdj.baidu.com">
  <link rel="dns-prefetch" href="//hm.baidu.com">
  <link rel="dns-prefetch" href="//user.hao123.com">

  <link rel="mask-icon" href="{{ site.url }}/assets/images/icons/Chair/safari-pinned-tab.svg" color="#000000">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/icons/Chair/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/assets/images/icons/Chair/favicon.ico">

  <script src="./assets/js/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

  <style type="text/css">
    @keyframes fadeInOpacity {
      0% {
        opacity: 0
      }
      to {
        opacity: 1
      }
    }

    :hover>*>.fbvd--wrapper {
      animation-name: fadeInOpacity;
      animation-duration: .3s;
      opacity: 1
    }

    .fbvd--wrapper {
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0;
      text-align: center;
      margin: 0;
      z-index: 5
    }

    .fbvd--wrapper a {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iIzRiNGY1NiIgZD0iTTggMTUuNWw3LjUtNy41aC00LjV2LThoLTZ2OGgtNC41eiI+PC9wYXRoPjwvc3ZnPg==) no-repeat 3px 4.55px;
      background-color: #fff;
      display: inline-block;
      font: 700 14px Helvetica, Arial, sans-serif;
      color: #4b4f56;
      text-decoration: none;
      vertical-align: middle;
      padding: 0px 8px 0px;
      margin-right: 8px;
      border-radius: 2px;
      line-height: 22px;
      padding-left: 19px;
      border: 1px solid #e7e7e7;
      background-size: 13px
    }

    .fbvd--wrapper a:last-child {
      margin-right: 0
    }

    .fbvd--wrapper a:hover {
      text-decoration: none
    }

    .fbvd--wrapper a:focus {
      box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
      outline: none
    }

    .fbvd--wrapper b {
      font-size: 13px;
      position: relative;
      top: 1px;
      color: #3b5998;
      font-weight: 400
    }
  </style>
  <style class="blockbyte-bs-style" data-name="content">
    body>div#blockbyte-bs-indicator>div {
      opacity: 0;
      pointer-events: none
    }

    body>iframe#blockbyte-bs-sidebar.blockbyte-bs-visible,
    body>iframe#blockbyte-bs-overlay.blockbyte-bs-visible {
      opacity: 1;
      pointer-events: auto
    }

    body.blockbyte-bs-noscroll {
      overflow: hidden !important
    }

    body>div#blockbyte-bs-indicator>div {
      position: absolute;
      transform: translate3d(-40px, 0, 0);
      top: 0;
      left: 0;
      width: 40px !important;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0 10px 10px 0;
      transition: opacity 0.3s, transform 0.3s;
      z-index: 2
    }

    body>div#blockbyte-bs-indicator>div>span {
      /* -webkit-mask: no-repeat center/32px; */
      /* -webkit-mask-image: url(chrome-extension://jdbnofccmhefkmjbkkdkfiicjkgofkdh/img/icon-bookmark.svg); */
      background-color: #ffffff;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }

    body>div#blockbyte-bs-indicator[data-pos='right'] {
      left: auto;
      right: 0
    }

    body>div#blockbyte-bs-indicator[data-pos='right']>div {
      transform: translate3d(40px, 0, 0);
      left: auto;
      right: 0;
      border-radius: 10px 0 0 10px
    }

    body>div#blockbyte-bs-indicator.blockbyte-bs-fullHeight>div {
      border-radius: 0
    }

    body>div#blockbyte-bs-indicator.blockbyte-bs-hover>div {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }

    body>div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb {
      height: 100% !important;
      top: 0 !important
    }

    body>div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb>div {
      background: transparent
    }

    body>div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb>div>span {
      -webkit-mask-position-y: 20px
    }

    body>iframe#blockbyte-bs-sidebar {
      width: 350px;
      max-width: none;
      height: 0;
      z-index: 2147483646;
      background-color: rgba(0, 0, 0, 0.6) !important;
      border: none;
      display: block !important;
      transform: translate3d(-350px, 0, 0);
      transition: width 0s 0.3s, height 0s 0.3s, opacity 0.3s, transform 0.3s
    }

    body>iframe#blockbyte-bs-sidebar[data-pos='right'] {
      left: auto;
      right: 0;
      transform: translate3d(350px, 0, 0)
    }

    body>iframe#blockbyte-bs-sidebar.blockbyte-bs-visible {
      width: calc(100% + 350px);
      height: 100%;
      transform: translate3d(0, 0, 0);
      transition: opacity 0.3s, transform 0.3s
    }

    body>iframe#blockbyte-bs-sidebar.blockbyte-bs-hideMask {
      background: none !important
    }

    body>iframe#blockbyte-bs-sidebar.blockbyte-bs-hideMask:not(.blockbyte-bs-hover) {
      width: calc(350px + 50px)
    }

    body>iframe#blockbyte-bs-overlay {
      width: 100%;
      max-width: none;
      height: 100%;
      z-index: 2147483647;
      border: none;
      background: rgba(0, 0, 0, 0.5) !important;
      transition: opacity 0.3s
    }
  </style>
  <!-- <script src="//g0.baidu.com/mms/graph/static/resource/sdk/v1.11.5/mms.js" async="" charset="UTF-8"></script> -->
  <style type="text/css">
    .graph-mms-toast {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      padding: 15px 10px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .85);
      font-size: 14px;
      color: #fff;
      transform: translate(-50%, -50%);
      z-index: 990
    }

    .graph-mms-toast.visible {
      display: block
    }

    .graph-mms-loading {
      padding: 50px 10px 15px
    }

    .graph-mms-loading:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 32px;
      height: 32px;
      margin-left: -16px;
      margin-top: -31px;
      border-radius: 50%;
      border: 2px solid hsla(0, 0%, 100%, .5);
      border-top-color: #ddd;
      animation: loading-rotation 1s ease 0s infinite normal
    }

    @keyframes loading-rotation {
      0% {
        transform: rotate(1deg)
      }
      to {
        transform: rotate(1turn)
      }
    }
  </style>
</head>

<body data-gr-c-s-loaded="true" style="font-size: 12px;">
  <link rel="stylesheet" href="./assets/css/icon.css">

  <div class="index__vuec__">
    <header data-class="cloudy" class="headPage weath_bg cloudy show pageone">
      <div class="headtop">
        <h1 data-pos="head_background" class="logowp cn_addtj">
          <a href="{{ site.url }}" class="logo" target="_blank">
            <img src="./assets/images/logo.png" alt="">
          </a>
        </h1>

        <div style="overflow: hidden; clear: both;"></div>
        <span class="tips_menu cn_scale right" style="display: none;"></span>
      </div>
      <div data-class="text" class="searchWrapper" placeholder="" style="position: relative;">
        <div data-class="text" class="searchBox">
          <span class="search-arrow"></span>
          <span class="search-logo"></span>
          <span class="cplogo" style="display: none;"></span>
          <form name="search" action="https://baidu.com/s" method="get" class="search">
          <!-- <form name="search" action="https://m.baidu.com/s" method="get" class="search"> -->
            <input type="text" autocomplete="off" autocorrect="off" maxlength="64" name="word" placeholder="搜你想要的" value="" class="kw">
            <span class="search-icon"></span>
            <span id="searchPhoto" haock="" data-jsup="{&quot;behavetype&quot;:&quot;b-take&quot;, &quot;tn&quot;: &quot;hao123&quot;}" class="search-photo cn_bg" style="">
              <input type="file" accept="image/*" style="position:absolute;left:0;width:100%;top:0;height:100%;opacity:0;z-index: 10;">
            </span>
            <span class="close cn_bg" style="display: none;"></span>
            <span haock="" class="btn">百度一下</span>
            <input type="hidden" value="www_colorful" name="ref" id="ref">
            <input type="hidden" value="111041" name="st" id="st">
            <!-- <input type="hidden" value="iphone" name="tn"> -->
            <input type="hidden" name="from" id="sugFrom" value="1014994a">
          </form>
        </div>
      </div>
      <div class="topMain scroll" style="background-color: transparent;"></div>
    </header>
    <!-- 图标导航 -->
    <div class="pageone cxv3" style="display: block;">
      <div class="iconsite">
        <div class="touchwp swiper-container">
          <div class="swiper-wrapper">
            <div data-class="mingzhan" class="tab swiper-slide" style="width: 100%;">
              <div class="sitewp">
                {% for i in page.icons %}
                <a href="{{ i.url }}" class="sitelink mz_icon" style="background-image: url(&quot;./assets/images/{{ i.image }}&quot;); color: rgb(51, 51, 51);" target="_blank">{{ i.title }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
      <!-- 文字导航 -->
      <div class="sitetext">
        <div class="sitetext-linkwp">
          <!-- <a href="" target="_blank">淘宝</a> -->
        </div>
        <div class="split"></div>
      </div>
      <!-- 热门话题 -->
      <!-- <div id="midline" class="midline towline">
        <a href="" class="midline-logo" style="background-image: url(&quot;https://meniny.cn/assets/images/avatar/default_s.jpg&quot;);"></a>
        <div class="midline-con-wap">
          <div class="midline-con" style="top: 0px;">
            <a href="" class="midline-text" target="_blank">"如果是假货 我就徒手榴莲"</a>
            <a href="" class="midline-text" target="_blank">"如果是假货 我就徒手榴莲"</a>
          </div>
        </div>
        <a href="" class="midline-arrow"></a>
      </div> -->

      <div class="cardwp">
        <!-- <div class="navwp">
        </div> -->
        <div class="fenlei normal" style="display: block;">
          <!-- 标签导航 -->
          <div class="fenlei-top">
            <div class="top-content">
              {% for label in page.labels %}
              <a href="{{ label.url }}" target="_blank">{{ label.title }}</a>
              {% endfor %}
            </div>
          </div>
          <!-- 列表导航 -->
          <div class="fenlei-content">
            <!-- 列表行 -->
            {% for row in page.list %}
            <div class="fenlei-wrap">
              <div class="fenlei-show">
                {% for item in row.items %}
                <a href="{{ item.url }}" target="_blank"><em>{{ item.title }}</em></a>
                {% endfor %}
                <!-- <b></b> -->
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- 滑动导航 -->
      <div class="imglistWp haotab">
        <div class="imglist">
          {% for post in site.posts limit: 25 %}
          <a href="" class="imgLink" target="_blank">
            <span class="tag">{{ post.category }}</span>
            <div class="imgwp">
              {% assign post_img = site.url | append: '/assets/images/posts/' | append: post.img %}
              <img src="{{ post_img }}" alt="{{ post.title }}">
            </div>
            <p class="des">{{ post.title }}</p>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <div class="tohome" style="display: none;"><span class="tohome-pop"></span> <span class="tohome-logo"></span></div> -->
  </div>
</body>

</html>
