---
layout: null
---
<html lang="en-US" class="js enhanced">
{% include bat.html %}
{% include head.html %}

{% if page.firstjs.size > 0 %}<script async="" src="{{ page.firstjs }}"></script>{% endif %}

<body id="0" class="{{ page.body_classes }}"{% if page.onloadjs.size > 0 %} onload="{{ page.onloadjs }}"{% endif %}>
  {% if page.thumb.size > 0 %}
  <div style="margin: 0 auto; width: 0px; height: 0px; overflow: hidden;">
       <img src="{{ page.thumb }}" width="300">
  </div>
  {% endif %}
  {{ content }}
</body>
{% include footer.html %}

{% if page.lastjs.size > 0 %}<script async="" src="{{ page.lastjs }}"></script>{% endif %}

</html>
