---
layout: blank
body_classes: "wrap"
---
{% include skip.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/postings.css">
<!--[if lte IE 9]><div class="notice--danger center"><h4>Your browser is quite old!</h4><p>Why not <a href="https://whatbrowser.org/">upgrade to a more modern one</a> to better enjoy this site?</p></div><![endif]-->
{% include site_logo.html %}
<div id="main" class="page" role="main">
  <article class="page__wrap">
    <header class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
      <p class="page__excerpt">{{ page.description }}</p>
    </header>
    {% include page_cover.html %}
    <section class="page__content">
      <div>{% include toc.html html=content %}{{ content }}</div>
      {% include comment.html %}
    </section>
  </article>
</div>
