---
layout: null
---
<!DOCTYPE html>

{% include bat.html %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/golo.css">
</head>

<body class="article">
  <div id="header">
    <h1>{{ page.title }}</h1>
  </div>
  <div id="content">
    {{ content }}
  </div>
</body>

</html>
