---
layout: blank
body_classes: "wrap"
---
{% include skip.html %}
<!--[if lte IE 9]><div class="notice--danger center"><h4>Your browser is quite old!</h4><p>Why not <a href="https://whatbrowser.org/">upgrade to a more modern one</a> to better enjoy this site?</p></div><![endif]-->
<div class="index">
  {% include site_logo.html %}
  <div id="main" role="main">
    <article class="page__wrap">
      <header class="page__header">
        <h1 class="page__title">{{ page.title }}</h1>
        <p class="page__excerpt">{{ page.description }}</p>
        <!-- <h2 class="nav-list__title" id="table-of-contents">Table of Contents</h2>
        <ul class="nav-list">
          <li><a href="{{ site.url }}/posts/">Blog Postings</a></li>
          <li><a href="{{ site.url }}/portfolio/">Portfolio</a></li>
          <li><a href="{{ site.url }}/about/">About</a></li>
        </ul> -->
      </header>
      {% include page_cover.html %}
      <div class="page__hero"></div>
      <!-- <section class="page__content"> -->
        {{ content }}
      <!-- </section> -->
    </article>
  </div>
</div>
