---
layout: null
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {% if page.en %}
    <title>{{ site.data.resume.title.en }}</title>
    {% else %}
    <title>{{ site.data.resume.title.cn }}</title>
    {% endif %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume for {{ site.author}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="{{ site.url }}/resume/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ site.url }}/resume/pelorous/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.url }}/resume/pelorous/assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ site.url }}/resume/pelorous/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{ site.url }}/resume/pelorous/assets/images/profile.png" alt="" />
                {% if page.en %}
                <h1 class="name">{{ site.data.resume.author.en }}</h1>
                <h3 class="tagline">{{ site.data.resume.job_title.en }}</h3>
                {% else %}
                <h1 class="name">{{ site.data.resume.author.cn }}</h1>
                <h3 class="tagline">{{ site.data.resume.job_title.cn }}</h3>
                {% endif %}

            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{ site.data.resume.email }}">{{ site.data.resume.email }}</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{ site.data.resume.phone }}">{{ site.data.resume.phone }}</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="{{ site.url }}" target="_blank">meniny.cn</a></li>
                    <!-- <li class="linkedin"><i class="fa fa-linkedin"></i><a href="#" target="_blank">linkedin.com/in/Meniny</a></li> -->
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/Meniny" target="_blank">github.com/Meniny</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/_Meniny" target="_blank">@_Meniny</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                {% if page.en %}
                <h2 class="container-block-title">{{ site.data.resume.edu_title.en }}</h2>
                {% else %}
                <h2 class="container-block-title">{{ site.data.resume.edu_title.cn }}</h2>
                {% endif %}
                {% for item in site.data.resume.edu %}
                <div class="item">
                    {% if page.en %}
                    <h4 class="degree">{{ item.degree.en }}</h4>
                    <h5 class="meta">{{ item.meta.en }}</h5>
                    {% else %}
                    <h4 class="degree">{{ item.degree.cn }}</h4>
                    <h5 class="meta">{{ item.meta.cn }}</h5>
                    {% endif %}
                    <!-- <div class="time">{{ item.start }} - {{ item.end }}</div> -->
                </div>
                {% endfor %}
            </div><!--//education-container-->

            <div class="languages-container container-block">
                {% if page.en %}
                <h2 class="container-block-title">{{ site.data.resume.languages_title.en }}</h2>
                {% else %}
                <h2 class="container-block-title">{{ site.data.resume.languages_title.cn }}</h2>
                {% endif %}
                <ul class="list-unstyled interests-list">
                    {% for lan in site.data.resume.languages %}
                    {% if page.en %}
                    <li>{{ lan.name }} <span class="lang-desc">({{ lan.desc.en }})</span></li>
                    {% else %}
                    <li>{{ lan.name }} <span class="lang-desc">({{ lan.desc.cn }})</span></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                {% if page.en %}
                <h2 class="container-block-title">{{ site.data.resume.interests_title.en }}</h2>
                {% else %}
                <h2 class="container-block-title">{{ site.data.resume.interests_title.cn }}</h2>
                {% endif %}
                <ul class="list-unstyled interests-list">
                    {% for interest in site.data.resume.interests %}
                    {% if page.en %}
                    <li>{{ interest.en }}</li>
                    {% else %}
                    <li>{{ interest.cn }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
              {% if page.en %}
                <h2 class="section-title"><i class="fa fa-user"></i>{{ site.data.resume.summary_title.en }}</h2>
                <div class="summary">
                    <p>{{ site.data.resume.summary.en }}</p>
                </div>
                {% else %}
                <h2 class="section-title"><i class="fa fa-user"></i>{{ site.data.resume.summary_title.cn }}</h2>
                <div class="summary">
                    <p>{{ site.data.resume.summary.cn }}</p>
                </div>
                {% endif %}<!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                {% if page.en %}
                <h2 class="section-title"><i class="fa fa-briefcase"></i>{{ site.data.resume.exps_title.en }}</h2>
                {% else %}
                <h2 class="section-title"><i class="fa fa-briefcase"></i>{{ site.data.resume.exps_title.cn }}</h2>
                {% endif %}
                {% for exp in site.data.resume.exps %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            {% if page.en %}
                            <h3 class="job-title">{{ exp.job.en }}</h3>
                            {% else %}
                            <h3 class="job-title">{{ exp.job.cn }}</h3>
                            {% endif %}
                            <div class="time">{{ exp.start }} - {{ exp.end }}</div>
                        </div><!--//upper-row-->
                        {% if page.en %}
                        <div class="company">{{ exp.company.en }}</div>
                        {% else %}
                        <div class="company">{{ exp.company.cn }}</div>
                        {% endif %}
                    </div><!--//meta-->
                    <div class="details">
                        {% if page.en %}
                        <p>{{ exp.detail.en }}</p>
                        {% else %}
                        <p>{{ exp.detail.cn }}</p>
                        {% endif %}
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}

            </section><!--//section-->

            <section class="skills-section section">
                {% if page.en %}
                <h2 class="section-title"><i class="fa fa-rocket"></i>{{ site.data.resume.skills_title.en }}</h2>
                {% else %}
                <h2 class="section-title"><i class="fa fa-rocket"></i>{{ site.data.resume.skills_title.cn }}</h2>
                {% endif %}
                <div class="skillset">
                    {% for skl in site.data.resume.skills %}
                    <div class="item">
                        <h3 class="level-title">{{ skl.title }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ skl.level }}%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    {% endfor %}
                </div>
            </section><!--//skills-section-->

            {% if page.min %}
            {% else %}
            <section class="section projects-section">
                {% if page.en %}
                <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.resume.portfolio_title.en }}</h2>
                <div class="intro"><p>{{ site.data.resume.portfolio_desc.en }}</p></div>
                {% else %}
                <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.resume.portfolio_title.cn }}</h2>
                <div class="intro"><p>{{ site.data.resume.portfolio_desc.cn }}</p></div>
                {% endif %}
                <!--//intro-->

                {% for port in site.data.portfolio_list %}
                {% if port.main %}
                <div class="item">
                    <span class="project-title"><a href="{{ port.url }}">{{ port.name }}</a> ({{ port.plat }})</span> - <span class="project-tagline">{{ port.desc }}</span>
                </div><!--//item-->
                {% endif %}
                {% endfor %}
            </section><!--//section-->
            {% endif %}

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="{{ site.url }}" target="_blank">{% if page.en %}{{ site.data.resume.author.en }}{% else %}{{ site.data.resume.author.cn }}{% endif %}</a>.</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="{{ site.url }}/resume/pelorous/assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/resume/pelorous/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ site.url }}/resume/pelorous/assets/js/main.js"></script>
</body>
</html>
