---
layout: list
title: Reading List & Book Recommendations
description: "This is the personal reading list of Elias Abel. I set myself the goal to read one book a month. Here you can find everything I've read so far. I recommend mostly books about development, design, communication, sinology and motivation."
---
<div class="list">
  {% for book in site.readings %}
  <!-- item START -->
  <article class="item">
    <a href="{{ book.link }}" target="_blank">
      <div class="item__content">
        <h3 class="item__title">{{ book.title }}</h3>
        <div class="item__meta"><span class="date published">By {{ book.author }}</span></div>
        <div class="item__excerpt">
          <p><button class="btn btn--large" type="submit" onclick="javascript:window.location.href='{{ book.link }}'">Buy it Now</button></p>
        </div>
      </div>
      {% if book.cover %}
        {% assign book_img = (site.url | append: '/assets/images/readings/' | append: book.cover) %}
      {% else %}
        {% assign book_img = (site.url | append: '/assets/images/avatar/default_s.jpg') %}
      {% endif %}
      <div class="item__image" style="background-image:url({{ book_img }})"><img src="{{ book_img }}" alt=""></div>
    </a>
  </article>
  <!-- item END -->
  {% endfor %}
</div>
