/*=========== global =============*/
:focus {
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.v-center {
	align-items: center;
}

body {
	--bg: #EBEBEB;
	--static: #2D2D2D;
	--solid: #FFF;
	--shadow: 0 0 5px rgba(0, 0, 0, .05);
	position: relative;
	padding: 20px;
	height: 100vh;
	width: 100%;
	background: var(--bg);
}

html {
	font-family: 'Oxygen';
	color: var(--static);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

span {
	display: inline-block;
	line-height: 1;
}

a {
	position: relative;
	--focus-light: #3FE9D3;
	--focus-dark: #04B9C3;
}

a:after {
	display: none;
	content: attr(data-attr);
	position: absolute;
	bottom: -80px;
	left: 50%;
	-webkit-transform: translate(-50%, -42.5px);
	        transform: translate(-50%, -42.5px);
	font-size: 26px;
	font-weight: 300;
	white-space: pre;
	color: var(--focus-dark);
}

a:hover:after,
a:focus:after {
	display: inline-block;
}

a:hover,
a:focus {
	-webkit-animation: focus 1s infinite;
	        animation: focus 1s infinite;
}

@-webkit-keyframes focus {
	0% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
	}
	50% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-dark);
	}
	100% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
	}
}

@keyframes focus {
	0% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
	}
	50% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-dark);
	}
	100% {
		box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
	}
}


/*=========== header =============*/

header {
	margin-bottom: auto;
	padding: 0 25px;
	font-size: 28px;
	font-weight: 600;
}

header > * {
	margin: 0 10px;
}

header > *:first-child,
.games .item:first-child {
	margin-left: 0;
}

header > *:last-child,
.games .item:last-child {
	margin-right: 0;
}

a.profile {
	margin-right: auto;
	--d: 60px;
	width: var(--d);
	height: var(--d);
	border: 3px solid var(--solid);
	background: var(--bg);
	box-shadow: var(--shadow);
	border-radius: 100%;
}

a.profile:after {
	font-size: .75em;
}

div.avatar {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 0px solid 100%;
	border-radius: 100%;
}

img.avatar {
	width: 100%;
}

.battery span i {
	font-style: initial;
	font-size: .6em;
}


/*=========== main =============*/

main {
	position: relative;
	margin: 0 -20px;
}

.games {
	position: relative;
	margin-bottom: 50px;
	padding: 10px 95px;
	overflow-x: scroll;
	white-space: nowrap;
}

.games::-webkit-scrollbar {
	height: 0px;
}

@media screen and (orientation: portrait) {
  /*竖屏 css*/

	.games .item {
		--d: 255px;
		height: var(--d);
		width: var(--d);
		background: var(--bg);
		border: 3px solid var(--solid);
		box-shadow: var(--shadow);
	}
}
@media screen and (orientation: landscape) {
  /*横屏 css*/

	@media(max-height: 550px) {
		.games .item {
			--d: 200px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
		}
	}

	@media(min-height: 550px) {
		.games .item {
			--d: 255px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
		}
	}

	@media(max-height: 500px) {
		.games .item {
			--d: 170px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
		}
	}

	@media(max-height: 450px) {
		.games .item {
			--d: 110px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
		}
	}

	@media(max-height: 380px) {
		.games .item {
			--d: 80px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
		}
	}

	@media(max-height: 330px) {
		.games .item {
			--d: 80px;
			height: var(--d);
			width: var(--d);
			background: var(--bg);
			border: 3px solid var(--solid);
			box-shadow: var(--shadow);
			margin-top: 10px !important;
		}

		.games {
			margin-bottom: 10px !important;
		}
	}
}

.games .item {
	display: inline-block;
	margin: 0 7px;
	flex-shrink: 0;
	overflow: hidden;
}
.games .item img {
	width: 100%;
}

main nav {
	text-align: center;
	margin-bottom: 50px;
}

main nav a {
	display: inline-flex;
	justify-content: center;
	margin: 0 10px;
	--d: 85px;
	height: var(--d);
	width: var(--d);
	background: var(--solid);
	box-shadow: var(--shadow);
	border-radius: 100%;
}


/*=========== footer =============*/

footer {
	position: relative;
	margin-top: auto;
	padding: 20px 25px 0;
	font-size: 24px;
	border-top: 2px solid var(--static);
}

.mode {
	margin-right: auto;
}

.accept .btn {
	--d: 25px;
	margin-right: 12px;
	display: inline-block;
	width: var(--d);
	height: var(--d);
	background: var(--static);
	border-radius: 100%;
	font-size: .75em;
	text-align: center;
	color: var(--bg);
}
