section.profile {
  position: relative;
  width: 325px;
  border: 1px solid #171a1f;
  border-radius: 8px;
  text-transform: uppercase;
}
section.profile::after {
  display: block;
  position: absolute;
  top: 100%;
  left: 3%;
  z-index: -1;
  width: 94%;
  height: 1px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  content: '';
}

.profile-header {
  height: 140px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  background: #e8decd;
}
.profile-header img {
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-content {
  padding: 0 30px 30px;
  border-radius: 0 0 5px 5px;
  color: #e7e0cf;
  text-align: center;
  background: #2f363e;
}
.profile-content img {
  margin-top: -75px;
  width: 150px;
  height: 150px;
  border: 5px solid #e7e0cf;
  border-radius: 100%;
  background: #e7e0cf;
}
.profile-content h1 {
  margin: 25px 0 0;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.05em;
}
.profile-content p {
  margin: 5px 0 0;
  color: #b49e6b;
  font-size: 0.8125em;
  font-weight: 200;
}

button {
  margin-top: 25px;
  padding: 10px 20px;
  min-width: 160px;
  background: #c54b30;
  border: 1px solid #171c22;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 #d16e59;
  color: #e7e0cf;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: background ease-out 0.15s;
}
button:hover, button:focus {
  background: #ac422a;
}
button:focus {
  outline: none;
  box-shadow: inset 0 1px 0 0 #d16e59, 0 0 0 3px #e7e0cf;
}
button:active {
  background: #943824;
  transition: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  border-top: 1px solid #171a1f;
  border-radius: 0 0 7px 7px;
  list-style: none;
  background: #2f363e;
}
ul li {
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #3e424d;
  padding: 20px 10px;
  color: #c54b30;
  font-weight: 600;
  font-size: 1.2em;
}
ul li + li {
  border-left: 1px solid #171a1f;
  box-shadow: -1px 0 0 #3e424d;
}
ul span {
  display: inline-block;
  margin-left: 0.4em;
  color: #a9a9a9;
  font-weight: 300;
  font-size: 0.8em;
}

html {
  height: 100%;
  background: #2d353d;
}

body {
  display: flex;
  margin: 0;
  padding: 20px;
  min-height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: helvetica neue, sans-serif;
/*  background: url("http://dir.agosto.nl/dump/profile.png");*/
}